[2016-12-27 17:11] inquirer2 opened #64 "Doesn't compile with HIP from ROCM 1.4"
### What is the expected behavior
-  compiles with AMD's HIP

### What actually happens
[code]

### How to reproduce
- install ubuntu 16.04.1, update, install ROCM, git clone rocBLAS,
- `cmake -DCMAKE_BUILD_TYPE=Debug -DBUILD_LIBRARY=ON -DBUILD_CLIENTS=ON -DBUILD_WITH_TENSILE=OFF -DHOST_TOOLCHAIN_NAME=gcc -DDEVICE_TOOLCHAIN_NAME=hipcc -DHIP_ROOT=/opt/rocm/hip`
- make fails

### Environment
| Hardw

[2016-12-27 22:17] gstoner commented on #64
Does vector copy test work first.

Looking at your CPU it only support  up 16 lanes of PCIe gen3.  The CPU will support a 1x16, 2x8, 1x8+2x4.   I do see it is a Skylake core so it should support Platform Atomics.   It not CPU we have tested.

Make you put the GPU in the x16 or x8  Slot directly connected to the CPU PCIe Root. I/O

Greg
On Dec 27, 2016, at 11:11 AM, inquirer2 <notifications@github.

[2016-12-27 22:56] tingxingdong commented on #64
It is also because the HIP bug of complex number in rocm-1.4. @adityaatluri, this bug appears in rocBLAS again.

[2016-12-28 10:56] inquirer2 commented on #64
Vector copy works, also opencl-rocm seems to work (tested with luxmark). My problem is with the hipcc compiler..

[code]

[2016-12-28 16:04] gstoner commented on #64
Are you telling it which GPU to compile for.

On Dec 28, 2016, at 4:56 AM, inquirer2 <notifications@github.com<mailto:notifications@github.com>> wrote:

Vector copy works, also opencl-rocm seems to work (tested with luxmark). My problem is with the hipcc compiler..

Initializing the hsa runtime succeeded.
Checking finalizer 1.0 extension support succeeded.
Generating function table for finalizer s

[2016-12-30 21:01] tingxingdong commented on #64
see my fix in known issue section of the wiki:

https://github.com/RadeonOpenCompute/rocBLAS/wiki/Build-rocBLAS-library-on-AMD-platform

[2017-01-02 15:38] inquirer2 commented on #64
@gstoner no i wasn't telling it the GPU, rocBLAS wiki / Build says:

_If users' GPU is Fiji, users do not need to do anything_

... but tingxingdong's suggestion seems to fix the build.

@tingxingdong thanks

[2017-01-02 15:38] #64 closed

[2017-01-02 15:56] adityaatluri commented on #64
@inquirer2
The compilation issue will be fixed in next two HIP developer preview releases.

[2017-02-14 15:56] adityaatluri commented on #64
Hi,
This issue is fixed with new developer preview release from HIP.

[2017-07-09 11:30] ABadCandy opened #115 "Build rocBLAS failed on nvcc platform"
Hi, I followed https://github.com/ROCmSoftwarePlatform/rocBLAS/wiki/Setting-up-enviroment-on-NVIDIA-platform to install hip_nvcc  successfully which in /opt/rocm/hip , but https://github.com/ROCmSoftwarePlatform/rocBLAS/wiki/Build-rocBLAS-libraries-and-verification-code to  install rocBLAS faild like following:
1. The C++ compiler "/opt/rocm/hip/bin/hipcc" is not able to compile a simple
  test pr

[2017-07-10 21:17] amcamd commented on #115
Building rocBLAS on NVIDIA platform is no longer supported. The Wiki "Setting up environment on NVIDIA platform" has been removed.

Please build rocBLAS on a machine with [ROCm](https://github.com/RadeonOpenCompute/ROCm) installed. To build rocBLAS please follow instructions in the rocBLAS Wiki.

Note that ROCm 1.6 requires Ubuntu 16.04. This requirement is listed at https://github.com/RadeonOpenC

[2017-07-11 15:13] tingxingdong commented on #115
@kknox , shall we drop CUDA support or not?

[2017-07-11 15:31] sunway513 commented on #115
Applications still rely on hipBlas wrappers for integration on NV path. But we can recommend ppl to use hcblas wrapper instead if we decided to drop NV support on rocBlas here.

[2017-07-31 06:25] BiranLi opened #123 "rocblas_hgemm is not implement"
In this version we can not test the half-precision performance, because I found that function rocblas_hgemm have not been implement.
How can we test the half-precision performance in VEGA10-MI25?

[2017-07-31 14:30] kknox commented on #123
Can you define what you are looking for with 'semi-fine' performance?

[2017-08-01 00:48] BiranLi commented on #123
@kknox Sorry, it's my false. I mean half-precision floating-point format gemm's performance. How to test it in MI25?

[2017-08-02 15:49] kknox commented on #123
@BiranLi
HGEMM is a case where our software implementation is trailing our hardware implementation; we don't have a optimized kernel yet that can leverage the float16 packed math necessary to demonstrate peak half rate.  It is a feature we are looking at, and we want to do it right, but we have to first finish other feature dependencies that hgemm would leverage.
As we work on this, you might be i

[2017-08-02 17:05] tingxingdong commented on #123
@hyln9

[2017-08-03 01:01] BiranLi commented on #123
@kknox Thank you for your reply. I have looked into the independent gcngemm. But it 's only optimized for fiji while my hardware is vega-MI25.I have test sgemm in rocblas and miopengemm. The latter than the former in MI25 is twice as fast speed.
By the way, the library [hcBLAS](https://github.com/ROCmSoftwarePlatform/hcBLAS) helpful? I found hgemm api in its include file.

[2017-08-03 15:44] kknox commented on #123
Yes, gcngemm is optimized for fiji, but until we get packed fp16 kernels in rocblas it is the best implementation I know of.
If you are measuring miopengemm as faster than rocblas for sgemm, can you share the GEMM parameters you tested?  We would be interested in running our own benchmarks.

hcblas was a port to hip of the clblas source, as a way to bootstrap libraries development.  Development of

[2017-08-04 00:59] BiranLi commented on #123
@kknox OK, I get it.
My test issues of sgemm as follow, and  the speed measured with miopengemm is similar with measured with cuBlas in P40.

m | k | n
-- | -- | --
128 | 832 | 2048
128 | 2048 | 2048
128 | 2048 | 9024
256 | 832 | 2048
256 | 2048 | 2048
256 | 2048 | 9024

[2017-10-03 16:46] jszuppe opened #143 "roc::rocblas target and C++ compilers"
If you use `roc::rocblas` target (defined in `rocblas-config.cmake`) in your cmake script to link to rocBLAS, you have to use `hcc` as you C++ compiler. I think this happens because `hip::hip_hcc` in [here](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/library/src/CMakeLists.txt#L127) is marked `PUBLIC`, which means its dependencies are transitive and compilation options are passed

[2017-10-03 18:47] kknox commented on #143
Hi @jszuppe, good to see you again.  Thanks for the feedback.

I made the `hip::hip_hcc` dependency public because we expose the hip header files through the [rocblas header files](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/library/include/rocblas-types.h#L16).  However, I see your point that the public compiler flags is inconvenient.  I don't want to drag a compiler dependency f

[2017-10-03 18:55] kknox commented on #115
Until we get the rocBLAS cmake infrastructure working on cuda path, users should use the [hipBLAS marshalling](https://github.com/ROCmSoftwarePlatform/hipBLAS) library.

[2017-10-03 19:44] jszuppe commented on #143
Yes, you documented why you did it. I just wasn't sure if the mentioned consequence of that was intended or not. I assumed it might be intended since you dropped support for `nvcc`, and maybe want to push people to use `hcc` as C++ compiler on ROCm.

I agree it should be addressed in the hip layer.

I have the same problem with project I'm working on and I was wondering about the best approach to

[2017-10-10 19:06] parallelo opened #147 "rocBLAS_sgemm -- CreateKernel(): Unable to create kernel"
### What is the expected behavior
-  Caffe runs without error

### What actually happens
[code]

### How to reproduce

In the most recently built hipCaffe image, run this:
[code]

### Environment
| Hardware | description |
|-----|-----|
| GPU | gfx900 |
| CPU |   |

| Software | version |
|-----|-----|
| ROCK |  4.11.0-kfd-compute-rocm-rel-1.6-175 |
| ROCR | 1.1.6-83-g8b72125 |
| HCC | 1.0.17412 |

[2017-10-10 20:38] kknox commented on #147
Did you clone this today or yesterday?  We just bumped the version to v0.7.1, but we had a checkin late last night that might have affected this result

[2017-10-10 20:57] parallelo commented on #147
This morning.  Grabbed rocblas from the ROCm compute-artifactory site.

[2017-10-10 21:28] kknox commented on #147
@guacamoleo
If he cloned this morning, then I think your PR #145 could be suspect.  Could you do the initial triage.

[2017-10-11 00:35] guacamoleo commented on #147
If its from Compute artifactory, wouldn't it be a prior build?

David E. Tanner
_________________________________________________________
MTS Software Engineer  |   Radeon Technologies Group – Open Compute

________________________________
From: Kent Knox <notifications@github.com>
Sent: Tuesday, October 10, 2017 4:28:24 PM
To: ROCmSoftwarePlatform/rocBLAS
Cc: Tanner, David; Mention
Subject: Re: [

[2017-10-11 15:18] parallelo commented on #147
Hi @guacamoleo - My previous statement was incorrect.  I actually built all hipCaffe dependencies from source yesterday morning.  Let me kick off another docker-build just to triple-check.

[2017-10-11 16:04] guacamoleo commented on #147
We just released a new version of rocBLAS, v0.7.1.0 up from v0.7.0.0. This new release uses assembly kernels for sgemm. However, the complaint is from HSA:CreateKernel() and the kernel name is Cijk_Alik_Bljk_SB_MT016x016x16_GSU08_KLS_NLCA01_NLCB01_PGR1_PLR1_TT04_04_VW01_WG04_04_08_WGM08

the string “KLS” means Kernel_Language=Source, i.e. HIP; and it means you are using the latest rocBLAS; good. S

[2017-10-11 16:44] parallelo commented on #147
Hi David,

Just double checked in the docker container -- here was the last commit in the rocBLAS repo:
[code]
And here are the HIP/HCC details:
[code]

[2017-10-11 17:07] guacamoleo commented on #147
Yeah, the rocBLAS portion looks right. So, we have a new rocBLAS running on a new ROCm 1.6-175. If we could try the old rocBLAS (0.7.0.0) on rocm 1.6-175 that would be a great check or run the new rocBLAS on the old rocm (this is what I’ve done and rocBLAS 0.7.1 runs fine on rocm 1.6-169).

Could you try running the old rocBLAS, and seeing if it works?

David E. Tanner
____________________________

[2017-10-11 17:24] parallelo commented on #147
Hi David,

Can you suggest a commit to use for the "old" rocBLAS?  I see some older git tags but nothing specifically for 0.7.x.

Thanks,

Jeff

[2017-10-11 17:58] guacamoleo commented on #147
Oh, snap. We didn’t tag it?

Andrew, can you create a rocBLAS tag for the checkin right before Tensile 3.2 got merged in? Jeff is trying to check why kernel compilation is failing and we want him to check “old” rocBLAS.

David E. Tanner
_________________________________________________________________________________
MTS Software Engineer  |   Radeon Technologies Group – Open Compute

From: Jeff P

[2017-10-11 18:12] guacamoleo commented on #147
We have only been tagging the master branch.

Can you use the shar     0ebaedc337ecd431ddd5573f70eb084ea3438058   ? This is for the develop branch just before merging Tensile 3.2

I would like to avoid tagging the develop branch.

Alternatively, use the master branch tag v0.6.0.0. This is the most recent master branch tag, and it is before merging Tensile 3.2.

From: Tanner, David
Sent: Wednesday,

[2017-10-11 18:51] guacamoleo commented on #147
Is there any difference between rocBLAS 0.6 and 0.7 in terms of gemm?

David E. Tanner
_________________________________________________________________________________
MTS Software Engineer  |   Radeon Technologies Group – Open Compute

From: Chapman, Andrew
Sent: Wednesday, October 11, 2017 1:13 PM
To: Tanner, David <David.Tanner@amd.com>; ROCmSoftwarePlatform/rocBLAS <reply@reply.github.com>; R

[2017-10-11 19:03] guacamoleo commented on #147
The highest tag is v0.6.0.0.

There is no difference in the gemm code between commit   0ebaedc337ecd431ddd5573f70eb084ea3438058   and tag v0.6.0.0.  You can check the commits in the link below:

https://github.com/ROCmSoftwarePlatform/rocBLAS/commits/develop

From: Tanner, David
Sent: Wednesday, October 11, 2017 1:52 PM
To: Chapman, Andrew <Andrew.Chapman@amd.com>; ROCmSoftwarePlatform/rocBLAS <re

[2017-10-11 19:04] parallelo commented on #147
Just rebuilt with that specific commit, reinstalled, and hit the same type of error.  Other suggestions?

[2017-10-11 19:09] guacamoleo commented on #147
That’s terrific; it suggests there’s a problem with rocm 1.6-175 and not with any rocBLAS source code.
The next suggestion is to roll back your rocm version, perhaps to a public released version from repo.radeon.com

David E. Tanner
_________________________________________________________________________________
MTS Software Engineer  |   Radeon Technologies Group – Open Compute

From: Jeff Pozna

[2017-10-11 22:39] parallelo commented on #147
Update -- Looks like this is probably related to newer (post-1.6.4) versions of HIP/HCC and how they work with rocBLAS.  I have docker images that might help pinpoint those differences.

My initial high-priority concern was with the 1.6.4 release, but that doesn't look like an issue.

[2017-10-19 15:02] kknox commented on #147
I'm going to close this one, as on the surface it does not appear related to rocblas.  Reopen if the situation changes.

[2017-10-19 15:02] #147 closed

[2017-10-30 11:54] nstomlinson opened #155 "rocBLAS cannot be used without a HIP compiler"
### What is the expected behavior
When using rocBLAS as a library, it should not be necessary to build the application using a HIP compiler.

### What actually happens
Because rocBLAS uses HIP features in its public API, it's necessary to build with a compiler that supports HIP. This could be solved by wrapping, as part of rocBLAS's API, the parts of the HIP API that are necessary to use rocBLAS.

[2017-10-30 12:43] gstoner commented on #155
It was designed to work with HIP,  what language runtime are you trying to link it with

[2017-10-30 12:45] gstoner commented on #155
From the front page "A BLAS implementation on top of AMD's Radeon Open Compute ROCm runtime and toolchains. rocBLAS is implemented in the HIP programming language and optimized for AMD's latest discrete GPUs."

[2017-10-30 14:27] jszuppe commented on #155
Are you talking about this https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/143 issue?

[2017-10-30 14:34] nstomlinson commented on #155
jszuppe: Your issue is related, yes.

What I'm saying is that it's probably useful to be able to *use* rocBLAS from, say a C++ program without having to use a HIP compiler. Imagine the following use case:
 - I'm developing a C++ program, and I need a BLAS library.
 - I want to use rocBLAS so I can take advantage of the GPU.
 - But I don't want to have to build my entire program with `hcc` just to

[2017-10-30 14:49] jszuppe commented on #155
Why do you need to compile your code using `hcc`?

After you compile rocBLAS with `hcc`, you should only have to  add include path to dir with rocRAND header and to HIP headers (and to CUDA headers if on CUDA platform), link against rocBLAS library and against HIP/CUDA (`"-L${HIP_ROOT_DIR}/lib -lhip_hcc -Wl,-rpath,${HIP_ROOT_DIR}/lib"`).

[2017-10-30 14:55] kknox commented on #155
I understand your issue, and I'm going to close this as a duplicate of #143.  This is a problem in our cmake infrastructure (both hip and rocblas), and I'm working on a solution.  I've had a couple of false starts, but I think I've got something workable in my fork of our rocFFT library.  In rocFFT, I've demonstrated I can build the rocFFT samples with a separate compiler than the main library.  W

[2017-10-30 14:57] nstomlinson commented on #155
It's not quite a duplicate of #143 because it's not *just* a cmake issue. rocBLAS includes HIP headers that use things like `__device__`.

[2017-10-30 15:00] kknox commented on #155
OK, that's a fair point to track separately.  Reopening.

[2017-10-30 15:48] nstomlinson commented on #155
`rocblas-types.h` includes `hip_vector_types.h`, yes. Even if that header is put on the include path, it won't work because neither `__HIP_PLATFORM_HCC__` nor `__HIP_PLATFORM_NVCC__` would be defined.

`rocblas-auxiliary.h` includes `hip_runtime_api.h`

Uh. OK. I haven't found a use of `__device__`. But they still use HIP specific things.

[2017-10-30 15:51] nstomlinson commented on #155
`rocblas-types.h` also depends on a definition of `float2` and friends, which wouldn't be available in vanilla C or C++.

[2017-10-30 15:52] tingxingdong commented on #155
Thank you for pointing out:

[2017-10-30 16:06] tingxingdong commented on #155
Sorry I just carelessly close it and reopen now.
1) the  "<hip/hip_runtime_api.h>" should be removed from rocblas-auxiliary.h. It does not make any sense here. I think we may carelessly put it here.

2) Yes, float2 or float3 are not standard C++ types.  It is true for CUDA and HIP.

[2017-10-30 16:54] nstomlinson commented on #155
I think the reason `hip/hip_runtime_api.h` is in `rocblas-auxiliary.h` is to get access to `hipStream_t`.

[2017-10-30 18:30] tingxingdong commented on #155
add "CPPFLAGS += $(shell $(HIP_PATH)/bin/hipconfig --cpp_config)" to your makefile

[2017-10-30 19:04] tingxingdong commented on #155
I make an example and test the example code on the latest rocm 1.6.4. It passed with the g++ compiler:  see here

https://github.com/ROCmSoftwarePlatform/rocBLAS/wiki/Example-C--code-calling-rocBLAS-routine-with-hipcc-and-or-gnu-compiler

$ g++ --version
g++ (Ubuntu 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

[2017-11-01 21:24] tingxingdong commented on #155
If you are able to build, then I will close this issue.

[2017-11-01 22:33] nstomlinson commented on #155
Ah. I see. That should work. Thanks.

[2017-11-03 22:50] #155 closed

[2017-11-11 22:51] Dekken opened #160 "Wiki problem - Example C code calling rocBLAS routine"
The links for:

    "Example C code calling rocBLAS routine"

Don't go anywhere but let the "clickee" write the page themselves - perhaps not what was desired.

[2017-11-13 15:31] kknox commented on #160
Fixed. Thanks for the heads up.

[2017-11-13 15:31] #160 closed

[2017-11-13 16:30] tingxingdong commented on #160
@Dekken , I do not understand what you are trying to say.

[2017-11-30 23:32] kknox commented on #143
I think this is fixed; will close it out in a week or so if I don't hear a confirm/deny.  Thx.

[2017-12-14 21:50] #143 closed

[2017-12-19 06:54] sriharikarnam opened #185 "Issue: “Error: There is no device can be used to do the computation”, while executing MXNet tests on HIP/CUDA path after integrating rocBLAS"
**Issue Summary**
Facing runtime issues on integrating rocBLAS to MXNet library--“error: There is no device can be used to do the computation”.  (Test cases terminate after throwing this error)
Tests are executed on HIP/CUDA (NVCC path).
If we use cuBLAS in place of rocBLAS, this issue doesn't appear.

**Steps to reproduce:**
1)clone mxnet
$  git clone --recursive https://github.com/ROCmSoftwarePl

[2017-12-19 17:10] guacamoleo commented on #185
rocBLAS doesn’t run on nvidia devices; it only runs on AMD devices. I don’t know who’s printing out “There is no device can be used to do the computation” but I do know that recent rocBLAS only has amd assembly kernel, so that certainly wouldn’t run on nvidia.

David E. Tanner
_________________________________________________________________________________
MTS Software Engineer  |   Radeon Techno

[2017-12-19 18:41] kknox commented on #185
@sriharikarnam
There has been work to get rocBLAS to work with a CUDA backend, but it is incomplete.  The cmake build infrastructure is upgraded, but our kernel architecture needs more work.

Did you install rocblas from a .deb?  The AMD or CUDA backend is chosen at compile time, and I'm sure that if you installed from a debian it was pre-compiled for an AMD backend.

I would recommend using [hipB

[2017-12-19 18:41] #185 closed

[2018-03-01 20:01] tstellar opened #202 "rocblas_dgemm symbol is missing from librocblas.so"
### What is the expected behavior
-  rocblas_dgemm symbol is implemented in librocblas.so

### What actually happens
-  rocblas_dgemm symbol is missing from librocblas.so, so libhipblas.so fails to load:
  /usr/lib64/libhipblas.so: error: symbol lookup error: undefined symbol: rocblas_dgemm (fatal)

### How to reproduce
-  readelf -s librocblas.so | grep dgemm

### Environment
| Hardware | descrip

[2018-03-02 20:06] tstellar commented on #202
I noticed that the rocblas_dgemm symbol is present in the  rocblas_0.10.3.0_amd64.deb from repo.radeon.com, so maybe it is an issue with how I build the library.  Do you know what cmake arguments / compiler versions where used to build that debian rocblas package?

[2018-03-02 21:06] tstellar commented on #202
My problem was that I was building with -DBUILD_WITH_TENSILE=OFF enabling tensile fixed this issue for me.

[2018-03-02 21:06] #202 closed

[2018-03-29 14:29] QWU-AMD opened #214 "Build on internal version of ROCm?"
Hi,

Our team is trying to build the rocBLAS on our machines with the internal ROCm version installed. Because the internal ROCm version is not signed, the current rocBLAS install.sh will exit non-zero on 'sudo apt update'. I wonder if it is possible we can build the rocBLAS on the latest ROCm bits?'

Thanks,
Qiyu

[2018-05-05 02:14] XiuYuLi opened #245 "How the max theory peak can be achieved of rocBlas or MIOpenGEMM?"
This my gemm library optimizated for vega-gpu : https://github.com/XiuYuLi/vgemm

[2018-05-08 18:33] bragadeesh commented on #245
Hello,
Thank you for reaching out to us. Your repo has content in Chinese that I cannot follow. Do you have performance graphs showing your claim?

[2018-05-09 03:09] XiuYuLi commented on #245
My english is bad :)

This my some test,I found the performance is similar the VALUBusy(about -%1+ drop).
Some routines not yet optimizated finally,I'll going to do that later.
Some routines of current vgemm version need to padding with column for max performance,but i will try eliminate this restrict.

Notes:
    1   The mixed and half precision using packed column/row(two column or two row packe

[2018-06-19 18:20] iotamudelta opened #292 "trtri API not LAPACK compatible"
### What is the expected behavior
-  LAPACK's trtri API is

[code]

### What actually happens
-  rocBLAS API is

[code]
Note A (in place, LAPACK) vs A+invA (out of place, rocBLAS) arguments.

### Question
I am currently looking into implementing getri (which needs trtri) and I would just like to know if trtri API is going to stay like this or not (in order to code around it)? Thanks!

[2018-07-23 18:48] Dekken commented on #214
Pretty sure it is now

[2018-07-23 18:48] Dekken opened #305 "Wiki pages got b0rked"
Dunno if github is having a brain fart or what, but the wiki pages that were around yesterday don't seem to exist anymore

[2018-07-23 18:50] gstoner commented on #214
For the internal ROCm build, issues you contact ROCm team The team sit under Ajit Mathews

[2018-07-23 18:50] #214 closed

[2018-07-23 18:51] Dekken commented on #305
Ok nevermind, just the README links are wrong

[2018-07-24 08:29] J0hnn4J1ang opened #307 "Do you have roadmap for cublasGemmBatchedEx?"
Which supporting batched matrix mul int8  * int8 -> int32

[2018-08-23 17:26] deven-amd opened #340 "rocblas_hgemm gives incorrect results"
### How to reproduce
-  unzip the Makefile.gz and main.cpp.gz into an empty folder
- Run `make float` to run the testcase with `float` datatype
- Run `make half` to run the testcase with `half` datatype

The testcase does a simple matmul of two 3x3 matrices
The testcase can be run for the
- `float` datatype (`rocblas_sgemm` is called) (gives correct answer)
- `half` datatype (`rocblas_hgemm` is ca

[2018-08-23 18:54] amcamd commented on #340
Can you please check the version of the rocblas library that you are using. I did this for the executable rocblas-bench using ldd below:

        librocblas.so.0 => /home/achapman/repos/ROCmSoftwarePlatform/master/rocBLAS/build/release/library/src/librocblas.so.0 (0x00007f4c93895000)

lrwxrwxrwx 1 achapman achapman 22 Aug 23 13:48 /home/achapman/repos/ROCmSoftwarePlatform/master/rocBLAS/build/rele

[2018-08-23 19:05] deven-amd commented on #340
The rocblas version I am using is
[code]

[2018-08-23 19:10] deven-amd commented on #340
tried to follow the steps you provided to clone the repo and run rocblas-bench, but ran into the following error during the install step (step #3)
[code]

[2018-08-23 19:16] deven-amd commented on #340
attempting to do `./install.sh -dc` runs into a different error

[code]

[2018-08-23 19:16] amcamd commented on #340
I omitted the -d flag for the command install.sh, can you try again with
[code]
The d flag should install the cblas dependency.

[2018-08-23 19:28] amcamd commented on #340
Please install the latest version of rocBLAS. You can either install it on your machine with:
[code]
or install from the Debian file rocblas-0.14.1.101-Linux.deb at https://github.com/ROCmSoftwarePlatform/rocBLAS/releases/tag/v14.1.1

[2018-08-23 19:46] deven-amd commented on #340
finally got the install script to work, and the new version does give correct results.

thanks

[2018-08-23 21:02] deven-amd commented on #340
Tried running the full TF unittest with the new rocblas version, and ran into other errors.
There are many subtests that fail, they all seem related.

two of the failures can be reproduced as follows:
(same symptom as before, values in the last column of the output `C` are incorrect for `half`)

1. (in `main.cpp`) change the defines for (DIM1, DIM2, DIM3) from (3,3,3) to (3,1,5)
[code]
2. (in `mai

[2018-09-16 17:49] justxi opened #359 "Installing rocBLAS"
### What is the expected behavior
Complete configuration and build of rocBLAS

### What actually happens
1) Python2.7 is not detected on a system where Python3.x is default.
2) Header files are missing while build: Tensile.h, etc. in "build/release/Tensile"

### How to reproduce
Checkout rocBLAS and follow these instruction: https://github.com/ROCmSoftwarePlatform/rocBLAS/wiki/1.Build#build-depend

[2018-09-22 06:08] justxi opened #364 "Using cmake find_package(rocblas) does not report the library"
### What is the expected behavior
-  Using the CMakeLists.txt:
cmake_minimum_required(VERSION 3.9)
find_package( rocblas )
message( ${rocblas_INCLUDE_DIRS} )
message( ${rocblas_LIBRARIES} )

should report include directories and libraries

### What actually happens
-  "cmake" gives the following output:

/usr/rocblas/include
rocblas-targets

### How to reproduce
- Run a cmake configuration with fi

[2018-09-23 20:09] pfultz2 commented on #364
Thats because this line [here](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/library/src/CMakeLists.txt#L199) needs to list the exported targets(ie `roc::rocblas`) and not the target file.

I should probably add some extra checks in rocm-cmake for this.

[2018-09-26 21:01] chentianran opened #367 "No complex double supoort"
### What is the expected behavior
-  Export complex double functions

### What actually happens
-  No complex double support in v1.9

[2018-10-06 18:38] justxi commented on #364
Now it reports "roc::rocblas" instead of "rocblas-targets" is this correct?

[2018-10-19 06:37] xuwenqiang224 opened #391 "Build rocblas-bench failed show fetching file fail"
### What is the expected behavior
-  Should build rocblas-bench successful, and find frocblas in stagging folder

### What actually happens
-  Failed, and show fetch file fail with attach picture
![wechat screenshot_20181019143231](https://user-images.githubusercontent.com/26057537/47201513-b6d44380-d3ac-11e8-8dd7-dec85eee8b92.jpg)

- And i try to run 'sudo apt-get update' show same error, seem li

[2018-10-20 00:15] dmidge8 opened #393 "Build fails with -lpthread"
Hi,

I am trying to build rocBLAS following the build procedure. The minor exception: I am on archlinux, thus I had to do some adaptations. But the general steps are the same.

### What actually happens
I have several screen of error messages:
[code]
I truncated the output, but it is basically this one that just repeat itself for hundreds of lines.
As far as I understand it, it is an error because

[2018-10-22 06:36] xuwenqiang224 commented on #391
Re-add the key from ROCm apt repository will solve this issue

[2018-10-22 06:36] #391 closed

[2018-11-07 19:19] leekillough opened #408 "Python MemError when building dgemm_perf.yaml"
dgemm_perf.yaml is built with a Python script which uses a large amount of memory. On some machines this can cause a build failure.

[2018-11-30 14:42] leekillough commented on #408
To work around the issue, comment out the line:

``add_dependencies( rocblas-bench rocblas-perf-data )``

near the bottom of `clients/benchmarks/CMakeLists.txt`.

[2018-11-30 14:51] #408 closed

[2018-11-30 14:52] leekillough commented on #408
Fixed by https://github.com/ROCmSoftwarePlatform/rocBLAS/commit/b20d424f61f4f47398bd216fa904a462ff65a3d3

[2018-12-21 18:25] farnoy opened #437 "Build fails on 2.0.0, works on develop"
### What is the expected behavior
Build works fine

### What actually happens
Build fails with this error when linking rocblas.so.2.0.0.0
[code]

### How to reproduce
I am packaging up ROCm components on Archlinux, so if I made a configuration mistake there, it might be difficult to repro.

### Environment
| Hardware | description |
|-----|-----|
| GPU | RX Vega 64 |
| CPU | TR 1950X |

| Software

[2018-12-21 18:50] farnoy commented on #437
Yep, that was the problem

[2018-12-21 18:50] #437 closed

[2019-01-09 09:13] toxa81 commented on #367
also discovered this today

[2019-01-21 18:00] yxsamliu opened #457 "regression due to __shared__ variable for hip-clang"
The following line recently caused regression in hip-clang:
https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/ed0d2b161eb6c28ed36732d10843e433d359b1bc/library/src/blas1/rocblas_amax_amin.h#L30

errror msg:
[08:53:58][Step 2/2] clang: warning: argument unused during compilation: '--hip-device-lib-path=/opt/rocm/hip/lib/bitcode' [-Wunused-command-line-argument]
[08:53:59][Step 2/2] In file includ

[2019-01-29 01:33] leekillough commented on #457
The code does not actually need or expect initialization of ` __shared__` variables -- it simply needs C++ value-initialization to create temporary default values with `T{}` uniform initialization syntax.

The old HIP compiler allowed the shared variable declaration, and the code did not depend on its initialization, but it required a non-trivial default constructor, to allow `T{}` syntax to creat

[2019-01-29 18:47] mardab opened #468 "Build is stuck on Tensile Create Library"
### What is the expected behavior
- automated building of rocBLAS v2.0.0-3 [using AUR-supplied PKGBUILD](https://aur.archlinux.org/packages/rocblas/)

### What actually happens
-  build gets stuck on `################################################################################# Tensile Create Library`
- no process activity is shown ater this message appears

### How to reproduce
-  `yay -Sa mi

[2019-01-29 23:32] yxsamliu commented on #457
So are you going to remove `index(-1)` from the default constructor of index_value_t and use a loop to initialize it, e.g
`__shared__ To tmp[NB];
for (int i =0; i<NB; i++)
  tmp[i] = value_initialization<T>;
`

[2019-01-29 23:38] leekillough commented on #457
No, no initialization is necessary.

The constructor was only used for `T{}` value-initialization. Declared variables do not need initialization.

[2019-02-01 01:52] yxsamliu opened #473 "compilation error with hip-clang"
There is another compilation error for hip-clang:

-  [ 23%] Building CXX object library/src/CMakeFiles/rocblas.dir/blas2/rocblas_trsv.cpp.o

hipcc-cmd: /opt/rocm/llvm/bin/clang++   --hip-device-lib-path=/home/yaxunl/git/rocdl/rel/dist/lib -std=c++11 -isystem /opt/rocm/llvm/bin/../lib/clang/9.0.0/include -Xclang -fallow-half-arguments-and-returns -D__HIP_HCC_COMPAT_MODE__=1 -I/opt/rocm/hip/include

[2019-02-01 01:54] yxsamliu commented on #457
could you please also look at https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/473 ?
it is similar to this issue

[2019-02-01 02:02] #457 closed

[2019-02-04 22:36] #473 closed

[2019-02-13 22:09] SandboChang opened #481 "Supplying a wrapper for using rocBLAS with Python 3"
It will be highly beneficial to end users if rocBLAS can be integrated into Python 3 in a form of a wrapper using PyopenCL.

For now I am using CLBlast as they do have a Python 3 package pyclblast, but for some reasons the SGEMM performance was sub-optimal on Vega where I obtained only ~3.5 TFLOPs at best. It may just be better if the AMD optimized rocBLAS can be utilized in Python.

[2019-03-03 04:23] VileLasagna opened #499 "Fix build when python3 is default"
### What is the expected behavior
You should be able to build the library regardless of whether you have python3 on your system

### What actually happens
The scripts just do a very simplistic "well, if /usr/bin/python exists, use that" but that is very likely
to be a symlink to either python3 or python2. If it IS python3, then the build fails

### How to reproduce
Have your `/usr/bin/python` be a

[2019-03-06 17:39] #499 closed

[2019-04-06 20:01] ghostplant opened #533 "hipblasSgemm()/rocblas_sgemm() is extremely slow on Vega 20"
Vega 20 has 10% more TFlops than Vega 64, and I verified it does on most common cases like Conv2D from Resnet, etc.

However, for `rocblas_gemm()`, it is unexpected very slow, e.g. computing a 1024x1024 matrix multiplication takes over 300% time than the same compute is spent on Vega 64.

So any suggestions or optimization plans?

[2019-04-13 00:21] ghostplant commented on #533
After upgrading rocblas to 2.3.4, the performance of Sgemm is around 60% improved. However, it is still 3-12 times slower than cublasSgemm using NVIDIA GPUs of similar TFlops.

The following cases of matrix multiplication on  Vega 20 are especially desired to pay attention to:
 Matrix[128, 4096]  x Matrix[4096, 4096]
 Matrix[128, 4096]  x Matrix[4096, 1000]
..

They are frequently used in many of

[2019-04-22 12:35] my456l opened #541 "build rocBLAS failed using hip-clang"
I followed the instructions [here](https://github.com/ROCm-Developer-Tools/HIP/blob/master/INSTALL.md#hip-clang) building HIP-clang, rocm-device-libs and HIP from the latest source. Then I tried to build rocBLAS with hip-clang (using install.sh as instructed [here](https://github.com/ROCmSoftwarePlatform/rocBLAS/wiki/1.Build#use-installsh-to-build-library-dependencies--library)):
[code]
But failed

[2019-05-07 11:06] FFFLJL opened #552 "about the vega20_Cijk_Alik_Bljk_DB.yaml files"
I want to know the meaning and function of the data at the bottom of the file，such as the bottom of vega20_Cijk_Alik_Bljk_DB.yaml：
- - - [1, 64, 1, 64]
    - [1, 0.428463]
  - - [64, 1, 1, 64]
    - [1, 0.451101]
  - - [1, 1, 1, 64]
    - [1, 0.00617776]
  - - [64, 64, 1, 64]
    - [0, 27.1934]
  - - [1, 64, 1, 64]
    - [3, 0.528463]
  - - [64, 1, 1, 64]
    - [3, 0.551101]
  - - [1, 1, 1, 64]

[2019-05-09 07:02] #552 closed

[2019-05-09 09:31] eadren commented on #367
Could you show a complex single demo yaml config ?

[2019-05-31 14:08] ghostplant commented on #307
I also want to know the answer. Seems like this case should be only supported by gfx906.

[2019-06-05 09:41] wormwang opened #576 "Build failed with ROCm 2.5 & 2.3"
### What is the expected behavior
-

### What actually happens
-
error out when make install , may related to https://github.com/ROCm-Developer-Tools/HIP/issues/485

### How to reproduce
-
rocm repo rocm-2.3

make
make install , on ROCm 2.3
then error out

### Environment
| Hardware | description |
|-----|-----|
| GPU | device string |
amd vega
| CPU | device string |

| Software | version |
ROCm

[2019-06-10 15:20] Delaunay opened #579 "rocBlas might select underperforming blas kernels"
I found the error when comparing a MI50 using rocm2.5 and a RadeonVII using rocm2.4.
The RadeonVII had much better performance under rocm2.4.
Using the rocm-profiler I found the both GPUs were calling a different blas kernel.
RadeonVII was calling a much faster one (7x faster).
When upgrading to rocm2.5 the RadeonVII started calling the slower kernel.

### How to reproduce
- using pytorch provided

[2019-06-13 09:10] wormwang commented on #576
| Software | version |
ROCm 2.5

pls reopen it
env: rocm-2.5 , Ubuntu 18.04, gcc 7.4.0

meet err when cmake rocBLAS

In file included from /home/motech/rocm2.5/rocBLAS-master/rocBLAS/release/Tensile/TensileTypes.h:29:
/home/motech/rocm2.5/rocBLAS-master/rocBLAS/release/Tensile/tensile_bfloat16.h:65:9: warning: type definition in a constexpr function is a C++14 extension [-Wc++14-extensions]

[2019-06-20 05:48] wormwang commented on #576
build successful with hcc of rocm2.4

[2019-06-20 05:48] #576 closed

[2019-06-20 15:40] whchung opened #587 "ship rocblas-bench binary by default?"
This is not an issue but an inquiry so I'm skipping the template.

Wondering would it be possible to ship `rocblas-bench` by default, so users working on applications / frameworks can use `ROCBLAS_LAYER` and `TENSILE_DB` env vars to quickly identify if a config has been tuned and report back, without rebuilding rocBLAS with potentially incorrect YAML config for Tensile.

[2019-07-08 02:22] settle opened #608 "Installation (./install.sh -d) freezes rocm-terminal docker instance"
### What is the expected behavior
-  System remains stable and successfully completes compilation

### What actually happens
-  System freezes before compilation successfully completes, requiring a hard power reset

### How to reproduce
-  sudo apt-get update
-  sudo apt-get install docker.io
-  sudo docker run --rm -it rocm/rocm-terminal:2.5
-  sudo apt-get update
-  sudo apt-get install gcc-gfor

[2019-07-24 16:00] Delaunay commented on #579
This is related to https://github.com/ROCmSoftwarePlatform/pytorch/issues/398 in particular https://github.com/ROCmSoftwarePlatform/pytorch/issues/398#issuecomment-500838355 which highlights that ROCm 2.5 worsen the performance for a class of dgemm problems

[2019-07-25 14:49] iChant commented on #359
Same problem. Thanks a lot for your solution!

[2019-08-14 07:23] ekuznetsov139 opened #653 "Fallback operation on RX Vega 64"
I have a Radeon RX Vega 64 on Ubuntu 18.04.3 LTS (recommended ROCm OS).
[code]

All rocBLAS operations are ignoring the optimized path (vega10 Tensile kernels) and using the fallback path.

It seems to be happening because rocBLAS (via Tensile) selects the kernel by comparing the device-name string returned by hipGetDeviceProperties() against the list of "registered" device-names, which, for the V

[2019-08-20 23:07] pfultz2 opened #664 "rocBLAS no longer builds"
When building rocBLAS from 2.7 release(ie from [1ac2271e72d21fa745c7af87cd5fd102f90cba45](https://github.com/ROCmSoftwarePlatform/rocBLAS/commit/1ac2271e72d21fa745c7af87cd5fd102f90cba45)) we get an error from cmake:

[code]

[2019-08-20 23:11] pfultz2 commented on #664
It seems the `POST_BUILD` process is the problem [here](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/bae39ccb155f009660f9d9047d917449cee55157/library/src/CMakeLists.txt#L212). It seems `header_compilation_tests.sh` should run during testing not during a regular build of rocBLAS.

[2019-08-21 05:24] justxi commented on #664
The script https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/f1b6bb43594b6652e00c39d1df248d836b878df9/header_compilation_tests.sh#L8 has a fixed path. It depends where you have your build directory. If you have your build directory outside of the source tree, it fails on my tests.

[2019-08-21 17:43] xdgarrido commented on #664
Rocblas is not building for ROCM 2.7 even if using install.sh. Please, try Rocm 2.7 .

The rocBLAS checked out from GitHub branch master is failing to build, this is the output:-

[ 11%] Building CXX object library/src/CMakeFiles/Tensile.dir/__/__/Tensile/Tools.cpp.o

clang-9: warning: -amdgpu-target argument 'gfx908' is not recognized; using gfx803 instead [-Winvalid-command-line-argument]

clang

[2019-08-21 18:05] zaliu commented on #664
Please use **master** branch and make sure your machine has 64GB main memory if you would like to do a full build including gfx908 support (then you wouldn't be using ROCm 2.7).  If your machine has 32GB main memory, please use the -lasm_ci flag with install.sh to reduce memory footprint.  I can assure you we've done full builds on 64GB main memory machines as well as -lasm_ci builds (which cover

[2019-08-21 18:18] xdgarrido commented on #664
I have 32GB and I did use the -lasm_ci builds. It crash the system after hours... I will upgrade
to 64 GB and try out....

[2019-08-21 19:47] zaliu commented on #664
@pfultz2, I just built rocBLAS master-rocm-2.7 with ROCm 2.7 just fine.  Please share details of your build environment offline.  Thanks.

[2019-08-21 19:51] zaliu commented on #664
Just FYI, for the latest master branch (336cecd990b023a4032946c25e42477a607f62e2), the observed memory footprint was about 23GB (via `free -h` every second) when doing a install.sh -lasm_ci build with ROCm 2.7 on a 32GB machine.  It took about 54 minutes to finish the build.

[2019-08-21 20:31] pfultz2 commented on #664
I build it doing something like this:

[code]

Or doing `cget init --cxx /opt/rocm/bin/hcc && cget install ROCmSoftwarePlatform/rocBLAS`. The problem seems to be the hardcoded paths to a build directory. I am working on a fix.

[2019-08-21 21:27] xdgarrido commented on #664
Please, remove old rocblas library before compilation and everything should work...

[2019-08-22 15:44] pfultz2 commented on #664
PR #670 fixes this issue.

[2019-08-29 17:29] justxi commented on #364
My fault, must be something like this:

get_target_property(var roc::rocblas INTERFACE_INCLUDE_DIRECTORIES)
message("INTERFACE_INCLUDE_DIRECTORIES:")
foreach(line IN LISTS var)
    message("${line}")
endforeach()

[2019-08-29 17:29] #364 closed

[2019-08-29 17:31] justxi commented on #359
This seems not to be necessary in the latest ROCm  branches.

[2019-09-05 14:51] #664 closed

[2019-09-09 16:38] scxiao opened #685 "race condition of device_matrix_copy() and device_strided_batched_matrix_copy()"
### What is the expected behavior
-  Matrix C is supported to be copied to D correctly by calling the function hipMemcpy() in the function device_strided_batched_matrix_copy() and device_matrix_copy().
    We should replace the hipMemcpy() with the async version hipMemcpyAsync() to ensure computation and memory copy happen in the same stream.

### What actually happens
-  There is race condition b

[2019-09-10 01:27] #653 closed

[2019-09-18 16:11] saadrahim commented on #587
@whchung There is no a rocblas clients deb/rpm available for internal users. Have you tried that? Please get in touch with me by email.

[2019-09-18 16:11] #305 closed

[2019-09-18 16:38] saadrahim commented on #608
How much system RAM do you have? It is possible you are running out and crashing your system. I recommend 32GB to compile rocBLAS.

[2019-09-27 23:12] djygithub opened #725 "Build issue error: invalid instruction v_accvgpr_read v3, a3 // 0000000010EC: D3D84003 18000103"
### What is the expected behavior
build finishes successfully
Never been an issue ./install.sh -idc has been bulletproof.
### What actually happens
One module seems to be misbehaving
[code]

### How to reproduce
[code]
### Environment
| Hardware | description |
|-----|-----|
| GPU | MI25 |
| CPU | EPYC 32 core |

| Software | version |
|-----|-----|
|Ubuntu 16.04.6 LTS|GNU/Linux 4.15.0-43-generic

[2019-09-29 09:34] justxi commented on #359
This issue seems to be applied.

[2019-09-29 09:34] #359 closed

[2019-10-05 14:43] djygithub commented on #725
Builds fine with rocm 2.9 thanks!

[2019-10-05 14:43] #725 closed

[2019-10-09 16:30] ye-luo commented on #367
Need complex float and double support. Particularly gemv, ger, gemm and batched versions.

[2019-10-25 22:38] leekillough commented on #685
Moved to JIRA

[2019-10-25 22:38] #685 closed

[2019-10-27 00:57] Delaunay commented on #579
Pretty much the same numbers with ROCm2.9.
The performance comparison can be found [here][1].
with the configuration below losing all the performance gain from 2.5.

[1]: https://docs.google.com/spreadsheets/d/1dYD7Cys4FOVEaCeRu1XRxuEHPOye518WCmrXC6-xsuE/edit#gid=0

b | h | o
-- | -- | --
35 | 8457 | 1760
35 | 8457 | 2048
35 | 8457 | 2560
35 | 8457 | 4096
64 | 1 | 1216
128 | 1 | 1024
128 | 1 | 140

[2019-11-01 18:28] amdkila commented on #579
Hi @Delaunay, first of all apologies for the lengthy delay. I am looking into this now. Your results seem to be somewhat similar to the performance difference that I've seen between MI-50 and MI-60 GPUs, with MI-60 choosing a faster kernel.  I chalked that up to the additional CUs, but MI-50 and Radeon 7 both have 60 CUs, so it sounds like selecting a slower solution like you mentioned.

I've not

[2019-11-01 18:38] Delaunay commented on #579
IIRC, of the two only `./rocblas-bench -f gemm -r f32_r --transposeA T --transposeB N -m 256 -n 1 -k 4 --alpha 1 --lda 4 --ldb 4 --beta 1 --ldc 256` is significantly slower.

[2019-11-04 16:59] singvision opened #775 ""Memory access fault by GPU node-1" error in Conv3d."
## 🐛 Bug
Got "Memory access fault by GPU node-1" when training my model, now I can reproduce the problem in a very simple script.
the env is ROCM 2.9.6, Radeon VII, I compiled pytorch from the most recent source on master branch.
details as follow.

## To Reproduce
import torch
import torch.nn as nn
t=torch.rand(2,32,64,128,160).to('cuda')
t2=nn.Conv3d(32, 16, kernel_size=3, stride=1, padding=1, b

[2019-11-04 17:01] daniellowell commented on #775
@amcamd Can you test the two configs above. @singvision is seeing a segfault. It is pointing to rocBLAS, but it could be the way MIOpen is configuring the parameters.

[2019-11-04 19:41] dagamayank commented on #775
/cc @bragadeesh

[2019-11-05 05:58] amdkila commented on #579
@Delaunay for the MI50, it looks like a source kernel was selected as the ideal solution (hence ISA 000), which isn't correct. Can you check /usr/share/misc/pci.ids if on Ubuntu or /usr/share/hwdata/pci.ids if on CentOS/RHEL and let me know your GPU's Device ID/Number (ex. 9999) and the corresponding alias (ex. Vega 10) is.

We've seen an issue in the past where the Device ID or the alias for the

[2019-11-05 16:39] Delaunay commented on #579
I am not too sure what you need so I saved all I could think of

[pci.ids.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/3809829/pci.ids.txt)
[rocminfo.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/3809831/rocminfo.txt)
[lspci.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/3809864/lspci.txt)
[lspci-k.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/38

[2019-11-05 17:57] amdkila commented on #579
That's good, thank you. So, my hunch was wrong about this being a Device ID that hasn't been added to the rocblas config files- 66a1 is added to all vega20 yaml files. Anyway, we have a tuning mechanism that improves performance for rocblas-bench calls. I'll try that and will get back to you by the end of the day.

[2019-11-05 23:23] amdkila commented on #579
@Delaunay I have created a PR [here](https://github.com/ROCmSoftwarePlatform/rocBLAS/pull/782) that should fix the issue you're having. I tuned on Radeon 7, which per your profiler results seems to have the same problem. I was working on rocm2.9 as well.

[2019-11-08 18:31] ghostplant opened #791 "f32 output type supported for i8_r_gemm_ex() ?"
Does `rocblas_gemm_ex` support output type `rocblas_datatype_f32_c` ?

[2019-11-08 18:33] ghostplant commented on #791
e.g. `d(:float) += a(:int8) x b(:int8) + c(:float)`

[2019-11-08 20:59] ghostplant opened #793 "BUG: A sgemm case triggers memory page fault on gfx906"
GPU device: gfx906;

Updating DIM1, DIM2 and DIM3 to 1024, 2, 7680 respectively can easily replay the bug that crashes on gfx906:
https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/clients/samples/example_sgemm.cpp

Crash Case:   `M=1024, N=2, K=7680, tA = N, tB = T`

[2019-11-08 21:01] ghostplant commented on #793
Rocblas Version: installed from prebuild rocm-2.9.0

[2019-11-11 04:27] zjin-lcf opened #801 "CentOS 7 Build from source issues"
Could you please give instructions on how users can build ROCBLAS on a CentOS7 machine ?

Thanks,

/nfs/home/zjin/rocBLAS_new/build/release/virtualenv/pip install git+https://github.com/ROCmSoftwarePlatform/Tensile.git@362cf90c35914a2c05633a31a9cf33e573737f99
pip is configured with locations that require TLS/SSL, however the ssl module in Python is not available.
Collecting git+https://github.com/

[2019-11-11 04:32] zjin-lcf opened #802 "Prebuilt ROCm libraries"
I don't have sudo permission. I found installing these ROCm libraries (e.g. ROCmBLAS) in my home directories are painful and slow when the OS is CentOS. Could you please consider providing prebuilt libraries for users who do not have sudo permission ?

Thank you

[2019-11-11 20:39] amdkila commented on #579
@Delaunay can you confirm that the issue has been fixed? Try out the latest rocBLAS-develop branch. Once you've had a chance to do that, I will close the issue.

[2019-11-11 20:54] Delaunay commented on #579
I do not have access to AMD GPUs at the moment.
I will close the issue for now and will reopen it if it persists.
Thanks!

[2019-11-11 20:54] #579 closed

[2019-11-28 02:05] zjunweihit opened #840 "ubuntu 18.04 cannot build rocBLAS with ROCm 2.10"
### What is the expected behavior
-  install.sh could build rocBLAS successfully

### What actually happens
-  get stuck in the middle
[code]

### How to reproduce
-  install ROCm 2.10
- git clone rocBLAS 2.10 or 2.10.1 branch
- ./install.sh

### Environment
| Hardware | description |
|-----|-----|
| GPU | vega20  |
| CPU | Intel i7-8700K 3.7GHz 12 CPUs |

| Software | version |
|-----|-----|
| RO

[2019-11-30 21:42] justxi opened #845 "Building rocBLAS 2.10 from source - error: call to implicitly-deleted default constructor"
### What is the expected behavior
-  Successful build of rocBLAS

### What actually happens
-  Build fails with the attached error.

### How to reproduce
-  Build on the following system, using Gentoo Linux and the ebuilds from https://github.com/justxi/rocm

### Environment
| Hardware | description |
|-----|-----|
| GPU | Radeon RX 560  |
| CPU | Intel Core i5 |

| Software | version |
|-----|---

[2019-12-05 04:27] ekuznetsov139 commented on #845
Seeing the same issue here.

[2019-12-05 05:37] ekuznetsov139 opened #856 "Issues building 2.10 from source on Arch Linux"
I am attempting to build the ROCm 2.10 stack from source on Arch Linux. I've been able to do it previously with 2.6, but 2.10 refuses to cooperate.

I had to deal with a number of problems, but I got through ROCT-ThunkInterface, ROCR-Runtime, ROCm-CompilerSupport, hcc, hip. But I'm having no luck with rocBLAS.

The first problem is that it assumes the existence of a number of ROCm executables and

[2019-12-05 05:40] ekuznetsov139 commented on #840
That stage always takes a very long time. Can take 20 minutes or longer.

[2019-12-05 06:11] justxi commented on #856
You problem could be the same like this: https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/845

For general installation on Gentoo Linux (source based) you can find my ebuild here: https://github.com/justxi/rocm/blob/master/sci-libs/rocBLAS/rocBLAS-2.10.0.ebuild

[2019-12-06 08:56] zjunweihit commented on #840
Thanks for your reply.
It stopped there for half a day.
Then I also check gpu status which has no working queue, gpu load is 0%.
check the process status, it's sleep "S+" from ps command.

I built blas 2.6 before, it didn't take too much time. And I can see progress for a while.

[2019-12-06 11:31] ekuznetsov139 commented on #856
I have a partial explanation for my troubles.

Ubuntu 18.04 comes with CMake 3.10. Arch Linux comes with the latest version, which is 3.16. After downgrading to the oldest CMake still available in the Arch Linux archive (3.13), I've been able to get past "target with the same name already exists" and then run straight into #845 "call to implicitly-deleted default constructor".

@justxi  your propo

[2019-12-07 09:43] ekuznetsov139 commented on #856
Ok, so the problem is somehow caused by a mismatch between the STL headers, specifically.

On both systems, hcc (clang) uses native STL headers from /usr/include/c++. On Ubuntu 18.04, they belong to gcc 7.4.0. On Arch Linux, they belong to gcc 9.2.0. With the headers from 7.4.0, everything compiles fine. With the headers from 9.2.0, with the same exact compiler binary, I get "implicitly-deleted de

[2020-01-07 10:34] anilbommareddy opened #908 "[Questions]-1.Enbale log Traces in Kerenel & API 2. Google Test Running test cases shown-0"
1.How to enable Traces(Printf) or log_traces in Kernel API(Inside gemvc_kernel()) Example: and Routine API(rocblas_status rocblas_gemv_impl())

Example1:
rocblas_status rocblas_gemv_impl() -->enabled Printf
rocblas_status gemvc_kernel( ) -- >Enable printf

[Run Binary from Build Directory] ./example-sgemm

Enable Printf traces not displayed
Printf may be under development in Rocm
https://rocm-docu

[2020-01-12 15:54] acowley commented on #845
I encountered the same problem when NixOS unstable upgraded from gcc-8.3.0 to 9.2.0. I [incorporated](https://github.com/acowley/nixos-rocm/commit/ac0731d1a3e2f9faa80a7c650cb9414052e7c0c5) @justxi's suggested change into the build, and everything up through things like pytorch is building again.

[2020-01-25 23:32] ekuznetsov139 opened #958 "Unable to build clients"
I am unable to build clients on Ubuntu 18.04 (gcc 7.4.0), with either the rocm-3.0 tag or the head of develop.

Building with install.sh -c fails due to the error from #845, and I'm unable to patch the source of Tensile to get around it because install.sh just wipes everything and checks out the code from scratch.

I tried to build clients only by hand. The process is not clearly documented but I

[2020-01-27 20:48] ekuznetsov139 commented on #958
One major outstanding source of trouble was that the code here https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/library/include/rocblas-complex-types.h#L12 expects to find either `__HCC__` or `__HIPCC__` defined. But the closest I have to these macros in the command line of hcc is `__HIP_PLATFORM_HCC__`.

After correcting rocblas-complex-types.h, I run into several more errors related

[2020-01-28 15:01] nikAizuddin commented on #393
Those ISA warnings and `ASM=None` instead of `ASM=/opt/rocm/bin/hcc` indicates that `Testile` cannot find `hcc` binaries. Make sure you make symbolic links in `/opt/rocm/bin/`:

[code]

The clue is in `build/release/virtualenv/lib/python3.5/site-packages/Tensile/Common.py`:
[code]

[2020-02-10 20:40] darjankrijan opened #991 "Undefined references 'rocblas_gemm_ex' and 'rocblas_gemm_strided_batched_ex' when trying to link with MIOpenDriver"
### What is the expected behavior
'rocblas_gemm_ex' and 'rocblas_gemm_strided_batched_ex' being defined in librocblas.so

### What actually happens
'rocblas_gemm_ex' and 'rocblas_gemm_strided_batched_ex' are undefined in librocblas.so

### How to reproduce
Build rocBLAS with these build options:
https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=rocblas&id=7c9965639ddb3c7c578bffac3e3b58317f002

[2020-02-19 19:22] ekuznetsov139 opened #1005 "Stack overflow in rocblas_*gemm_batched"
I am attempting to convert Tensorflow to use rocblas_*gemm_batched API calls instead of  rocblas_*gemm_strided_batched.

One of my tests fails with a segfault. I've traced it down to the following code

https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/library/src/blas3/Tensile/gemm.hpp#L542-L544

It fails because the test involves batch count 500000, which requires `500000*3*8=12 MB` o

[2020-03-21 18:34] darjankrijan commented on #991
Hello, is this maintained?

[2020-03-25 17:59] amcamd commented on #991
Can you please try to remove the directive: -DBUILD_WITH_TENSILE=OFF  from your rocBLAS build options in the link

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=rocblas&id=7c9965639ddb3c7c578bffac3e3b58317f0022ab

The default is to build with Tensile. If you build with Tensile the symbols rocblas_gemm_ex and rocblas_gemm_strided_batched_ex should be included in librocblas.sh.

[2020-03-29 19:57] marcopompili commented on #991
I'm able to build rocBLAS 3.1 on Arch with Tensile and GCC9.

I had to set `Tensile_LOGIC=asm_full` and `Tensile_ARCHITECTURE=gfx900` for my configuration (RX Vega 64) to shorten the process of kernel generation because generating "all logics" would saturate my RAM (32GB). I don't now if my wording is correct, I'm not familiar with Tensile.

This is the `cmake` command I used on my PKGBUILD:
[code

[2020-03-29 21:22] darjankrijan commented on #991
@marcopompili
Good catch, I haven't checked the memory usage during building.
Should have known since another ROCm package would barely build with make -j4 on 32GB here (don't remember which).

This software stack sure is some fragile C++/Python bloat that breaks left and right.

[2020-03-29 21:42] darjankrijan commented on #991
It still breaks for me with the same Python errors when trying something similar for my setup, some type mismatch...

[rocblas_log.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/4399836/rocblas_log.txt)

My bet is another of these breaking Python changes between versions.

[2020-04-12 06:48] fuag15 opened #1124 "rocBLAS-3.3.0 leaves undefined symbol `llvm::yaml::IO::getContext()' but does not request lib to satisfy it"
### What is the expected behavior
- I can link libs with rocblas.so built from rocBLAS 3.3.0

### What actually happens
- I get an error in both rocALUTION-3.3.0 and miopen

ld: /usr/lib64/librocblas.so.0.1: undefined reference to `llvm::yaml::IO::getContext()'

### How to reproduce
- build rocBLAS
attempt to link against it by building rocALUTION or miopen

### Environment
| Hardware | descriptio

[2020-04-13 05:35] fuag15 commented on #1124
I spent this weekend digging at this in downtime and didn't get very far but here's what I've found so far. Somehow rocblas is including a symbol to llvm::yaml::IO::getContext() but not requesting any .so to satisfy it. Here's the relevant info i could find

`
ldd librocblas.so
	linux-vdso.so.1 (0x00007ffebc709000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007f43412f9000)
	libm.so.6 => /lib64/libm.so.

[2020-04-19 13:11] justxi commented on #845
There is a slightly different solution in https://github.com/ROCmSoftwarePlatform/Tensile/blob/9c9eb4d18cb3183fbac0b67fdfa7ffa8e3a65e88/Tensile/Source/lib/include/Tensile/EmbeddedData.hpp#L105, but it builds on my system. Therefore I close this.

[2020-04-19 13:11] #845 closed

[2020-04-20 16:32] s-bernard commented on #991
@darjankrijan You can fix these errors by putting hipconfig and extractkernel in the PATH, with a symbolic link for instance:
[code]

[2020-04-20 16:36] s-bernard commented on #991
Then I hit an compilation error:

                Impl::inputOne(io, key, *value);

The solution is to change `key to key.str()` to be: `Impl::inputOne(io, key.str(), *value);`

Then it compiles fine (at least for me).

[2020-04-22 08:08] darjankrijan commented on #991
@s-bernard
Nice find, this runs through and compiles for me as well when adding the bin directory of HCC and HIP to the PATH environment variable and fixing that YAML.hpp C++ header.

Would have never found out since that Tensile part doesn't ever hint that some binary is missing, throwing type exceptions left and right.

And that C++ header is some softwaregore right there, good job finding the f

[2020-04-22 08:08] #991 closed

[2020-05-04 22:27] UltraCoderRU opened #1146 "_Float16 on amd64"
Hello. I've tried to build PyTorch with ROCm support using Clang 9/10 and got error:
[code]
Then I switched to GCC 8.4 and PyTorch was build successfully.

Then I created minimal project using rocBLAS:
[code]
and got the same error. Again, it compiles with GCC.

According to Clang [documentation](https://clang.llvm.org/docs/LanguageExtensions.html#half-precision-floating-point), it seems, that `_F

[2020-05-07 14:25] leekillough commented on #1146
Clang 9+ added support for `_Float16`:

https://reviews.llvm.org/D33719

Since we could not determine precisely which minor version of Clang 9 had this change, the current logic uses Clang 10 as the cutoff:
[code]

[2020-05-07 14:25] #1146 closed

[2020-05-07 15:42] UltraCoderRU commented on #1146
Changes you are referring to are from 2017, but later in 2019 `_Float16` was disabled for non ARM/SPIR Targets ([commit](https://github.com/llvm/llvm-project/commit/1d1d438e8e721d8cef58b638fc304c2ff87094f0)).

Even in [10.x branch](https://github.com/llvm/llvm-project/blob/release/10.x/clang/lib/Basic/TargetInfo.cpp#L38) `TargetInfo::HasFloat16==false` and this flag doesn't reset in
[X86TargetInfo

[2020-05-12 10:13] leekillough commented on #1005
Was fixed in https://github.com/ROCmSoftwarePlatform/rocBLAS/pull/1117

[2020-05-12 10:13] #1005 closed

[2020-05-18 18:32] leekillough commented on #1146
Will be fixed in 3.5: [PR# 1148](https://github.com/ROCmSoftwarePlatform/rocBLAS/pull/1148)

[2020-06-10 04:55] MangalaVenakat opened #1153 "Can I run rocBlas on CPU?"
I am trying to run rocBlas on CPU:
Is there a way to provide rocblas_handle to point to CPU(host).

I see CPU(host) is not accounted with below api's
hipGetDeviceCount returns 1
hipGetDeviceProperties : returns GPU name

I am able to successfully run rocblas on GPU and now I want to run same on CPU

[2020-07-04 19:33] t-vi opened #1155 "Radeon VII: Incomplete device identification leading to slowness if human-readable ids are available"
Hi,

I debugged a performance discrepancy with the Radeon VII and it turned out that it comes from matching of device names.

### What actually happens

I have a Radeon VII (great device!) in a Linux computer.
When I don't have `pci.ids` installed, the device (hipDeviceGetName) reports itself as `Device 66af` and everything is great.
When I do have `pci.ids` installed, the device reports itself as

[2020-07-06 07:31] mvermeulen commented on #1155
Note the following shows that the pci id database seems to have been updated:
[code]

[2020-07-06 15:51] bragadeesh commented on #1155
The device identification and logic around solution(gpu kernel) selection is changing in a refactor of Tensile; the new logic only uses gfx generation and not the device strings, and would be stable and not sensitive to the above issues. This change is planned for rocm release very soon (3.7 tentative) and should solve the problem.

[2020-07-06 16:25] t-vi commented on #1155
@bragadeesh Awesome! Is there any way to get a pre-release? (Compiling Tensile and rocBLAS would be within reach.)

[2020-07-06 18:30] bragadeesh commented on #1155
@t-vi
I am expecting the master branch of rocblas (and the associated Tensile version) to be updated sometime next week, which should be something good to try. I can provide an update as we get closer.

[2020-07-07 13:00] t-vi commented on #1155
Cool, thank you!

[2020-07-07 16:41] bragadeesh commented on #1153
rocBLAS is only designed for GPU execution and supports a list of GPUs (matching most of what rocm supports); running on cpu is not supported

[2020-07-20 23:14] bragadeesh commented on #1155
Latest master is a good candidate to try for the new method of device selection

[2020-07-20 23:15] #1153 closed

[2020-07-22 22:44] acxz commented on #856
@ekuznetsov139 the Arch AUR community has rocblas working now and the PKGBUILD is on the AUR. See https://github.com/rocm-arch/rocm-arch for more info. I believe this issue can be closed.

[2020-07-22 23:28] acxz opened #1156 "[Build Error] [CMake] Cannot find hip"
### What is the expected behavior
- Including rocblas in a cmake project like `find_package(rocblas)` should be successful.

### What actually happens
- When using find_package(rocblas), it fails since it cannot find hip, even though hip is installed.

[code]

FindHIP.cmake is installed on the system but Findhip.cmake is not.

### How to reproduce
- Call `find_package(rocblas)` in a cmake project.

[2020-07-25 16:43] acxz commented on #1156
Closing this issue since this does not directly pertain to this repo but rather the lack of functionality in `FindHIP.cmake` in the HIP package.

[2020-07-29 13:21] amcamd commented on #1156
See comments and discussion for issue 303 in rocFFT (https://github.com/ROCmSoftwarePlatform/rocFFT/issues/303).

[2020-08-07 20:54] saadrahim commented on #587
Closing issue due to inactivity.

[2020-08-07 20:54] #587 closed

[2020-08-10 21:55] mkstoyanov opened #1160 "Bug in dgmm"
### What is the expected behavior
- dgmm should compute the dense times diagonal matrix product

### What actually happens
- there is a typo in the method and A and X are added instead of being multiplied

### How to reproduce
- see https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/library/src/blas3/rocblas_dgmm.hpp on lines 34 and 38
- `C[tx + ldc * ty] = A[tx + lda * ty] + X[ty * incx

[2020-08-12 06:53] hanjiemicro opened #1162 "Why there existed "KernelLanguage: Source" in vega20*.yaml under rocBLAS/library/src/blas3/Tensile/Logic/asm_full"
### What is the expected behavior
- In wiki link: https://github.com/ROCmSoftwarePlatform/Tensile/wiki/Kernel-Parameters
KernelLanguage: Whether kernels should be written in source code (HIP, OpenCL) or assembly (gfx803, gfx900, ...).

### What actually happens
- I think vega20*.yaml only reserved for Assembly kernel. I am confused why there has multiple source kernels in vega20 configuration.

##

[2020-08-13 17:45] TorreZuk commented on #1160
Thanks Miroslav for catching and clearly reporting the problem.  This issue should now be fixed in the master branch by taking commit 6d9136819aeaedac5a41d067e8a3b58c291f99c5 made on Aug 13, 2020.  It is expected to be in the ROCm 3.8 release.  Let us know if you have further concerns.

[2020-08-13 17:59] mkstoyanov commented on #1160
Thanks @TorreZuk it seems fixed now. We should be able to close the issue.

[2020-08-13 18:51] #1160 closed

[2020-08-14 01:11] #292 closed

[2020-08-14 01:12] #245 closed

[2020-08-14 01:12] #115 closed

[2020-08-14 01:13] #123 closed

[2020-08-14 01:13] #307 closed

[2020-08-14 01:14] #367 closed

[2020-08-14 01:14] #533 closed

[2020-08-14 01:17] #608 closed

[2020-08-14 01:18] #468 closed

[2020-08-14 01:18] #541 closed

[2020-08-14 01:19] bragadeesh commented on #340
closing for now; please reopen if issue still present with latest versions

[2020-08-14 01:19] #340 closed

[2020-08-14 01:23] #393 closed

[2020-08-14 01:26] bragadeesh commented on #802
Pleasse report the issue here: https://github.com/RadeonOpenCompute/ROCm

[2020-08-14 01:26] #802 closed

[2020-08-14 05:37] #840 closed

[2020-08-14 18:59] #958 closed

[2020-08-14 18:59] #856 closed

[2020-08-31 16:18] bragadeesh commented on #1155
Closing, this feature is enabled in rocm 3.7 which has been released.

[2020-08-31 16:18] #1155 closed

[2020-08-31 16:20] bragadeesh commented on #791
This is not supported currently

[2020-08-31 16:20] #791 closed

[2020-08-31 16:20] bragadeesh commented on #793
Please reopen if this is still an issue after trying rocm 3.7

[2020-08-31 16:20] #793 closed

[2020-08-31 16:22] #801 closed

[2020-08-31 16:22] bragadeesh commented on #1124
Please try rocblas / rocm 3.7

[2020-08-31 16:22] #1124 closed

[2020-08-31 16:24] bragadeesh commented on #908
Read about rocblas logging here: https://rocblas.readthedocs.io/en/master/logging.html

[2020-08-31 16:24] #908 closed

[2020-10-07 15:50] TorreZuk commented on #1156
I will close this issue tomorrow as the find_package(rocblas) is now demonstrated in  https://github.com/ROCmSoftwarePlatform/rocBLAS-Examples/commit/a5b3b1e4683f41c48344b637cebcbbb7ca348e84 .   Note CMAKE_PREFIX_PATH may need to be set to find the rocBLAS and/or hip cmake config files.    find_package( hip ) with lowercase hip is the form used within rocBLAS as is the prescribed form to be used b

[2020-10-08 06:01] gggh000 opened #1168 "build error with 3.8.x"
### What is the expected behavior
-
be able build according to instruction
### What actually happens
-
build failed.
### How to reproduce
-
either install -i or install -id failing:
(see attached build log)
[roc-blas-build.log](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/5345601/roc-blas-build.log)

### Environment
Ubuntu 1804
| Hardware | description |
|-----|-----|
| GPU | device strin

[2020-10-08 06:04] xuhuisheng commented on #1168
please check whether there is /opt/rocm/llvm/bin/clang exists?
The building of rocBLAS need llvm and hip installation.

[2020-10-08 19:32] TorreZuk commented on #1168
Yes please ensure you have the prerequisites installed: https://github.com/ROCmSoftwarePlatform/rocBLAS#prerequisites
If you installed rocm-dkms over an earlier install look for a broken symlink /opt/rocm and ensure it points to a valid installation, e.g. rocm->/opt/rocm-3.8.0

[2020-10-08 23:14] #1156 closed

[2020-10-09 00:58] cgmb commented on #1168
The link to the ROCm install instructions in the rocBLAS README is redirecting to the ROCm docs homepage. It's still pretty easy to find the install instructions from there, but we might want to update that.

Just for convenience, here's a direct link to the ROCm install instructions for Ubuntu: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu

[2020-10-14 15:48] gggh000 commented on #1168
There is nowhere in the rocBLAS readme about prereq, while I am sweating through llvm, ran into much issues and built the release version including lld,clang built and now getting this error:

    "/opt/rocm/bin/hipcc"

  is not able to compile a simple test program.

  It fails with the following output:

    Change Dir: /root/ROCm/rocBLAS/build/release/CMakeFiles/CMakeTmp

    Run Build Command:

[2020-10-14 16:39] TorreZuk commented on #1168
You shouldn't have to build llvm as the llvm build to use will be in the ROCm platform installation.
By prerequisites the ROCm platform is just the rocm-dkms installation which is described https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu
Remove old installation and force remove any /opt/rocm that aren't purged, following instructions at the link.  After
sudo ap

[2020-10-14 19:12] cgmb commented on #1168
This is my script for installing ROCm on a fresh Ubuntu 18.04 machine, based on the rocmdocs installation guide Torre linked (note that it ends with a reboot):
[code]

Then for building rocBLAS:
[code]

On a clean install, that should cover everything you need.

[2020-10-15 02:59] gggh000 commented on #1168
there is no custom toolchain installed. rock-dkms did not install llvm (did not see in /opt/rocm-3.8.x/ the llvm folder, completely missing. so i had to build and install llvm http://github.com/RadeonOpenCompute/llvm-project.

That way, I managed to get ahead by ridding several lld missing errors and now stuck now at  -lclang_rt.builtins-x86_64 error message.

[2020-10-15 18:48] cgmb commented on #1168
roc*k*-dkms is the ROCm kernel driver, but roc*m*-dkms is the full ROCm development stack, which includes the rock kernel driver, llvm-amdgpu and other such development tools.

[2020-10-15 22:11] cgmb commented on #1168
I discovered debtree today and am quite enjoying using it. I used it to produce this dependency diagram, may help clarify the relationship between the rocm-dkms and rock-dkms packages:

![rocm-dkms-partial-tree](https://user-images.githubusercontent.com/4886803/96190465-870a9880-0eff-11eb-8583-5ffc8f5915e1.png)

[2020-10-16 05:34] gggh000 commented on #1168
I have the installation through -id switch working. The build error was due to fact it was in virtual guest machine.

Now I tried building -c (client) build and getting following error:

./install -c
CMake Warning at /opt/rocm/share/rocm/cmake/ROCMChecks.cmake:37 (message):
  The toolchain variable 'CMAKE_CXX_FLAGS' is modified in the CMakeLists.txt.
Call Stack (most recent call first):
  clients/

[2020-10-16 05:48] cgmb commented on #1168
`-d` only installs the dependencies for the options you've selected. The clients require additional dependencies, so use `./install.sh -cd` the first time you build the clients.

[2020-10-16 06:40] gggh000 commented on #1168
OK, I installed with -cd option and worked. Previously i used -d so thought may not be necessary for client option.

[2020-10-16 06:40] gggh000 commented on #1168
i think this can be closed. thanks.,

[2020-10-16 15:11] cgmb commented on #1168
Nice. Glad to hear it's working for you!

[2020-10-16 15:11] #1168 closed

[2020-10-23 02:44] xuhuisheng opened #1172 "ROCm-3.7+ broken on gfx803"
### What is the expected behavior
- Dont crash and return correct loss on gfx803

### What actually happens
- Invalid argument: indices[5,284] = 997212422 is not in [0, 5001) (text classification)
- Low accuracy with loss NaN (mnist)

### How to reproduce
- ROCm-3.7+ on gfx803, run tensorflow text classification sample. Tensorflow offical sample could reproduce this issue, almost 90%. <https://www

[2020-11-03 19:41] LifeIsStrange opened #1174 "Is this the AMD alternative of cudnn?"
If so I think that should be said in the Readme.
Also Cudnn claim each year to make performance breakthrough, I hope that rocBLAS keep up in performance, you should at least have the transparency to show performance benchmarcks results vs Cudnn.
As a potential CDNA buyer, I won't buy it until there is convincing deep learning benchmarcks.

[2020-11-05 18:01] AdhocMan opened #1175 "Poor performance of trmm function"
We are working on a computational material science code and noticed extremely poor performance of the `rocblas_ztrmm` function compared to cuBLAS. This is the major factor in poor performance of our application on AMD GPUs.

### What is the expected behavior
- Performance somewhere close to cuBLAS.

### What actually happens
- When comparing a MI50 with rocBLAS and a Tesla P100 with cuBLAS, rocBLA

[2020-11-05 18:49] bragadeesh commented on #1174
Please see: https://github.com/ROCmSoftwarePlatform/MIOpen

[2020-11-06 07:21] xuhuisheng commented on #1172
Added more environment informations and workaround2.

[2020-11-06 19:22] amcamd commented on #1175
Thank you for providing test code to show the poor performance of rocblas_ztrmm. We will work on improving performance or rocblas_ztrmm.

[2020-11-22 15:15] aruno14 commented on #1172
I have the same issue on Fiji [Radeon R9 FURY / NANO Series].
I tried to rebuild rocBLAS after delete `library/src/blas3/Tensile/Logic/asm_full/r9nano_Cijk_Ailk_Bljk_SB.yaml
However, I get below error:

`/src/external/hip-on-vdi/rocclr/hip_fatbin.cpp:39: guarantee(false && "Cannot unmap file")`

[2020-12-02 11:09] gggh000 opened #1177 "Build documentation for rocBLAS"
### What is the expected behavior
- build OK

### What actually happens
- build steps uncertain, causing failure.

### How to reproduce
- Follow the build steps outlined in
https://rocmdocs.amd.com/en/latest/ROCm_Tools/rocblaswiki.html
### Environment
| Hardware | description |
|-----|-----|
| GPU | device string |
| CPU | device string |

| Software | version |
|-----|-----|
| ROCK | v0.0 |
| ROC

[2020-12-03 18:04] daineAMD commented on #1177
Hi @gggh000,
I'll be happy to look into your issue here, but I will need some clarification on some points:

•	What command line instruction are you using to attempt to build rocBLAS? Are you using `install.sh -idc`?
•	What failures are you seeing during the build?
•	What ROCm install are you using? You can get this with the command: `dpkg -l | grep rocm-dkms`
•	What GPU are you building on? You c

[2020-12-04 15:59] lolzballs commented on #1172
I have the same problem as OP on the same chip (gfx803, RX580 8GB). I noticed that ROCm 3.10 was released a few days ago and I'm wondering if this fixed anything. Unfortunately my system doesn't have the resources to compile PyTorch or Tensorflow for the updated ROCm version and the docker images haven't been updated yet.

[2020-12-10 17:39] #1174 closed

[2020-12-10 18:49] daineAMD commented on #1177
HI @gggh000,

I haven't heard back from you in about a week regarding this issue so I'll close it for now, I hope the updated documentation links helped. If you run into the issue again please go ahead and open another issue and address my questions and we can look into it again.

Thanks,
Daine

[2020-12-10 18:49] #1177 closed

[2020-12-15 03:17] kylin0061 opened #1180 "when it will use stdc++17"
### What is the expected behavior
- I see rocBLAS is using stdC++14,so  I can't compile it on the aarch64. so I want to use stdC++17 to compile it .

### What actually happens
-

### How to reproduce
-

### Environment
| Hardware | description |
|-----|-----|
| GPU | device string |
| CPU | device string |

| Software | version |
|-----|-----|
| ROCK | v0.0 |
| ROCR | v0.0 |
| HCC | v0.0 |
| Libra

[2020-12-17 21:23] bragadeesh commented on #1180
rocBLAS has dependencies on several other projects and also need to work with a list of compilers; At this time C++14 is the best support available given those constraints; No plans to move to c++17 at this time.

[2020-12-17 21:23] #1180 closed

[2020-12-20 03:15] aruno14 commented on #1172
@lolzballs
I checked with ROCm 4.0 and last rocBLAS version, but I got the same error.
`/src/external/hip-on-vdi/rocclr/hip_fatbin.cpp:39: guarantee(false && "Cannot unmap file")`

[2020-12-22 18:31] justxi commented on #541
I have the same issue.
Does someone has a solution or a hint?

[2020-12-23 04:05] KouAkitaki commented on #1172
I'm experiencing the same problem on ROCm 4.0 docker image.

[2020-12-23 13:05] justxi commented on #541
In may case a accidently remove "-D__HIP_HCC_COMPAT_MODE__=1".
Readding it solved it.

[2021-01-07 17:16] #1172 closed

[2021-01-08 19:27] paolodalberto opened #1182 "fatal error: 'omp.h' file not found"
### What is the expected behavior
-
pass compilation

### What actually happens
-
In file included from /home/paolo/FastMM/Epyc/rocBLAS/clients/common/blis_interface.cpp:5:
/home/paolo/FastMM/Epyc/rocBLAS/build/deps/blis/include/blis/blis.h:18940:10: fatal error: 'omp.h' file not found
#include <omp.h> // skipped
         ^~~~~~~
1 error generated when compiling for gfx803.
make[2]: *** [clients/g

[2021-01-08 19:35] paolodalberto commented on #1182
find /opt/rocm-3.10.0/ -name "omp.h"
/opt/rocm-3.10.0/llvm/lib/clang/12.0.0/include/omp.h
/opt/rocm-3.10.0/llvm/include/omp.h

however
not found in find /opt/rocm-4.0.0/

/opt/rocm-4.0.0/llvm/ installed fresh ...

[2021-01-11 19:56] TorreZuk commented on #1182
Thanks for reporting @paolodalberto.  We will have to dig into the dependency issues but while you wait you should be able to directly install the llvm-clang openmp-extras package openmp-extras4.0.0_12.10-0_amd64.deb to get the omp.h put in the 4.0.0 tree, the deb is at http://repo.radeon.com/rocm/apt/4.0/pool/main/o/openmp-extras4.0.0/openmp-extras4.0.0_12.10-0_amd64.deb

[2021-01-11 20:02] TorreZuk commented on #1182
Also @paolodalberto when you have time, you say "fresh" I you uninstalled 3.10 or on a clean machine?   Did it require any special installation steps on your side?

[2021-01-11 22:16] cgmb commented on #1182
One other thing to check is what the `/opt/rocm` directory looks like. There now exist version-pinned rocm packages (e.g. rocm-dev4.0.0) and rolling version rocm packages (e.g. rocm-dev). However, I don't think you can mix-and-match them at the moment.

IIRC, the version-pinned packages don't make an `/opt/rocm` symlink. That may be important because I notice that the PATH is to `/opt/rocm/llvm/bi

[2021-01-11 22:43] cgmb commented on #1182
It may or may not be of any help, but to check what packages I have installed from repo.radeon.com, I use: `aptitude search '~S ~i ~Orepo.radeon.com'`

[2021-01-12 17:27] paolodalberto commented on #1182
I had to install from source the 4.0.0 llvm package. This installs clang. The missing link is not about rocBLAS (I think) but the installation of the dependencies.

I did not uninstall 3.10, I usually keep all previous .... and I am not comfortable to deleting removing packages (if not automatically)
I update from ununtu 18 to 20 (cmake issues)
the /opt./rocm directory had kept most of the previou

[2021-01-12 23:04] paolodalberto commented on #1182
I followed the instruction at because my version 4.0 did not have the llvm package
https://github.com/ROCm-Developer-Tools/HIP/blob/master/INSTALL.md#hip-clang

[2021-01-12 23:05] paolodalberto commented on #1182
[out.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/5805309/out.txt)
this is my tree for /opt/

[2021-01-12 23:20] TorreZuk commented on #1182
Yes the 4.0 expects the openmp-extras 4.0 installed so you can install the deb I provided the link to.   They will have to add the instructions for building openmp-extras from source to the HIP-Clang site you pointed to as we don't do that manually in rocBLAS.
The rocm-dkms 4.0 installation should provide all the llvm and openmp-extras as it did on my Ubuntu20 test.

[2021-01-13 23:55] paolodalberto commented on #1182
let me reinstall the package openmp-extras

[2021-01-14 00:19] paolodalberto commented on #1182
reinstalling the openmp-extras will be creating the correct includes.
alas something else fails in compilation

[code]

[2021-01-14 00:28] TorreZuk commented on #1182
Did you do an install.sh -dc to install the dependencies for clients.   googletest must now be using their branch release-1.10.0
Other dependencies may also be required which are different than earlier releases.  You may want to delete your build tree and then do the install -dc.    I am just guessing based on what these errors suggest.

[2021-01-14 18:08] paolodalberto commented on #1182
`bash install.sh -c  -a gfx803`
The installation works  ... if I do not specify the architecture it fails for gfx908.
however
[code]

[2021-01-14 18:10] paolodalberto commented on #1182
I know I can install rocblas using apt
but it is nice to understand the process ... rocBLAS will be used in combination with rocSPARSE.
I can now use rocALUTION (rocBLAS installed by apt and rocSPARSE by script and rocRAND by partial script).

[2021-01-14 18:11] paolodalberto commented on #1182
but it will be nice to have code optimized for the architecture.

[2021-01-14 19:47] TorreZuk commented on #1182
You can see the architecture list used without -a in the root level CMakeLists.txt, and make sure you are building branch rocm-4.0.x if using 4.0 release hip and clang compilers.  Sorry things are overly coupled right now as the compiler changes quickly.

[2021-01-19 10:00] jianlongf opened #1183 "HIP online and offline compilation mode"
I wonder what differences between HIP online and offline mode. In best model GPU practice, we are used to pre-compile OpenCL kernel, that will reduce the time of kernel compiling. Is there same practice in HIP kernel?

[2021-01-19 10:01] #1183 closed

[2021-01-19 23:15] paolodalberto commented on #1182
As today I could build the library
`bash install.sh -c -a gfx803`
however
[code]

[2021-01-20 16:19] TorreZuk commented on #1182
That is the type of error I would expect if the architecture was mismatched so can you confirm you are using a clean rocblas rocm-4.0.x branch code base.   Did you do a install -d or -dc to get all the dependencies as I asked previously?   Otherwise I would be looking for clues as to what is different, are there any warning messages during compile?  If you don't include -a can you build for all ar

[2021-01-20 17:50] paolodalberto commented on #1182
I can try again with -d ....

[2021-01-20 18:27] paolodalberto commented on #1182
The building is successful using the above install
however the bechmark still does not collaborate

[code]

[2021-01-20 18:29] paolodalberto commented on #1182
I remove completely the build directory before the install ...
clearly there is something off ...
May be next time I upgrade the machine this will go away.

If you do not mind I will keep the issue open.

[2021-01-20 22:53] cgmb commented on #1182
When debugging those sorts of 'guarantee' failures, I sometimes find that setting the [`AMD_LOG_LEVEL`](https://rocmdocs.amd.com/en/latest/Programming_Guides/HIP-porting-guide.html#hip-logging) environment variable to 3 or 4 can help clarify what was wrong. (The various environment variables listed in [the system level debug documentation](https://rocmdocs.amd.com/en/latest/Other_Solutions/Other-S

[2021-01-21 17:50] paolodalberto commented on #1182
I will uninstall rocm and reinstall and redo

[2021-01-21 18:27] paolodalberto commented on #1182
llvm-clang I cannot install using apt installl ...

[2021-01-21 18:32] TorreZuk commented on #1182
Aren't you installing rocm-dkms which will provide the llvm and clang ?

[2021-01-21 18:49] paolodalberto commented on #1182
yep .. .cleaned up the /opt/rocm
https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html
re-installing everything from scratch

[2021-01-21 18:51] paolodalberto commented on #1182
llvm is not present in /opt/rocm otherwise

[2021-01-21 19:08] TorreZuk commented on #1182
sudo apt install rocm-dkms
should provide the /opt/rocm/llvm as that is the version of clang/llvm you need to build rocblas with.
Were there error messages during that install?

[2021-01-21 19:15] paolodalberto commented on #1182
nope

[2021-01-21 19:16] paolodalberto commented on #1182
and today I cannot make llvm

[2021-01-21 19:21] paolodalberto commented on #1182
let me autoremove everything and try again

[2021-01-21 19:21] paolodalberto commented on #1182
this is painful

[2021-01-21 19:32] paolodalberto commented on #1182
[code]
after installation now rebooting

[2021-01-21 19:37] paolodalberto commented on #1182
[code]
I know that opencl was always a problem but rocinfo is not even installed

[2021-01-21 19:41] paolodalberto commented on #1182
bash install.sh -cd  -a gfx803
[code]

[2021-01-21 19:47] paolodalberto commented on #1182
building llvm and then hip

[2021-01-21 20:15] paolodalberto commented on #1182
https://rocmdocs.amd.com/en/latest/Installation_Guide/HIP-Installation.html

the instructions are no good

[2021-01-21 20:38] TorreZuk commented on #1182
I agree the instructions are weak as don't cover any potential problems, I would just go back to trying a clean install the rocm-dkms which contains all the hip and clang that we use to build rocBLAS as part of the install.  As you just want to try and build rocBLAS correct?   I just installed on a clean latest ubuntu 5.4.0-64 docker and see the /opt/rocm/llvm was installed so am guessing your pac

[2021-01-21 22:12] paolodalberto commented on #1182
I want to have a clean installation because I want to make sure the performance I will get are "complete" ... and I will used this in combination with rocALUTION ... it will be nice to have clear list of algorithms

[2021-01-21 22:13] paolodalberto commented on #1182
let me follow your instructions ....

[2021-01-21 22:29] paolodalberto commented on #1182
cleaning is important indeed ...

[2021-01-21 22:30] paolodalberto commented on #1182
[code]

[2021-01-21 22:39] paolodalberto commented on #1182
[code]

[2021-01-21 22:40] paolodalberto commented on #1182
[code]

[2021-01-21 22:41] paolodalberto commented on #1182
this mean that llvm installation is still incomplete ?

[2021-01-21 23:04] paolodalberto commented on #1182
BTW: this is not a docker ...

[2021-01-21 23:06] TorreZuk commented on #1182
Did it make the symlink /opt/rocm -> /opt/rocm-4.0.0  ?
You are having the worst luck I have seen, yes that llvm should have lots of files (109 clang etc.)
Those two flang files are correct... are you sure you aren't running out of disk space?
Sorry I only have a docker to spare right now but thought I did put 4.0.0 directly on a machine, I can ask around.

[2021-01-21 23:09] paolodalberto commented on #1182
The link is there .... I rebuilt the llvm project from source and now trying to re-install rocBLAS

[2021-01-21 23:10] paolodalberto commented on #1182
I should create a docker .. it is safer ... but at the same time it is yet another layer ...

[2021-01-21 23:12] TorreZuk commented on #1182
And your / partition didn't fill up or you have some quota, it is very strange you got a partial install of /opt/rocm-4.0.0/llvm/bin/

[2021-01-21 23:13] paolodalberto commented on #1182
[code]

[2021-01-21 23:45] paolodalberto commented on #1182
[code]

[2021-01-21 23:45] paolodalberto commented on #1182
I will need to create a docker image then and redo everything

[2021-01-22 00:00] TorreZuk commented on #1182
I am glad you posted that bench output as I see now you are trying to build code from the rocBLAS "develop" branch.  You can't do that with the 4.0.0 toolchain you have to checkout the rocBLAS branch "rocm-4.0.x" to use with 4.0.0 tools from rocm-dkms.  Sorry but due to rapid development you will get runtime issues if you use the current develop branch with older tools from 4.0.0, like the guarant

[2021-01-22 00:46] paolodalberto commented on #1182
let's try with the branch

[2021-01-22 01:35] paolodalberto commented on #1182
[code]

[2021-01-22 01:35] paolodalberto commented on #1182
it is not easy

[2021-01-22 01:39] paolodalberto commented on #1182
[code]

[2021-01-22 01:39] paolodalberto commented on #1182
holy crap

[2021-01-22 18:07] paolodalberto commented on #1182
I will close this ticket. I am playing with sparsity and I could run rocALUTION and I could compare the performance independently for the part that could use rocBLAS.

Thank you for your patience, for taking the assignment, and for reaching a conclusion

[2021-01-22 18:07] #1182 closed

[2021-01-22 18:17] TorreZuk commented on #1182
Thank you for your investigations, we will hopefully reduce the potential failure modes in future releases.

[2021-02-01 17:49] elbriggs opened #1184 "Poor performance of D(Z)syrkx"
### What is the expected behavior
- For certain types of matrix ops a D(Z)gemm call can be replaced with D(Z)syrkx. Using the cuda version on Summit at ORNL D(Z)syrkx is considerably faster than D(Z)gemm in the RMG electronic structure code.

### What actually happens
- On a workstation (Epyc7502 with dual Radeon VII's) using syrkx is roughly twice as slow as using dgemm. System is running Ubuntu

[2021-02-01 19:50] amcamd commented on #1184
Thank you for reporting this D(Z)syrkx performance problem. We will look into improving D(Z)syrkx performance.

Can you supply the D(Z)syrkx arguments used by your RMG electronic structure code. One way to do this would be to enable rocBLAS logging by setting the environment variable ROCBLAS_LAYER to the value 2, then running your application. There is more information on logging at https://github

[2021-02-01 22:25] elbriggs commented on #1184
There were thousands of syrkx calls over the course of the run but only two unique sizes that I have included below. Within the larger code if I replace the syrkx call with gemm it runs about twice as fast. I don't know if it's helpful but this job used 32 MPI procs with 16 assigned to each Radeon VII.

./rocblas-bench -f syrkx -r f64_r --uplo L --transposeA T -n 1536 -k 8192 --alpha 0.0734285 --l

[2021-02-01 23:38] amcamd commented on #1184
Thank you, we will aim to improve D(Z)syrkx performance for these sizes.

[2021-02-07 21:48] powderluv opened #1185 "Error building rocBLAS for gfx1030 (on gfx10 branch)"
### What is the expected behavior
Build successfully

### What actually happens
Errors with
/home/foo/github/rocBLAS/build/release/library/src/build_tmp/TENSILE/assembly/Cijk_Alik_Bljk_SB_MT32x32x64_MI16x16x4x1_SE_1LDSB0_APM1_AF0EM1_AF1EM1_AMAS0_ASAE01_ASBE01_ASCE01tPiJ5Mu53yuU5dAY0o76qak_pbgvTyoGDoOGeELWvO8=.s:14:16: error: target must match options
.amdgcn_target "amdgcn-amd-amdhsa--gfx908"

###

[2021-02-10 17:04] bragadeesh commented on #1185
gfx1030 GPU is not supported on ROCm.

ROCm was developed for HPC and Machine Learning applications requiring specific GPU architectures. The specific instruction set support for these types of workloads may not be available on all AMD GPU architectures. ROCm officially supports the discrete versions of AMD Vega and AMD CDNA architectures.

[2021-02-10 17:04] #1185 closed

[2021-02-10 17:47] powderluv commented on #1185
Does this mean my 6900XT wont support ROCBLAS or Tensorflow / Pytorch with rocm ?  Thanks

[2021-02-10 18:56] bragadeesh commented on #1185
Please raise this question in the main ROCm site:
https://github.com/RadeonOpenCompute/ROCm/issues

[2021-02-10 19:39] powderluv commented on #1185
Done. https://github.com/RadeonOpenCompute/ROCm/issues/1376

Thanks

[2021-02-11 00:23] Djip007 commented on #1185
https://github.com/RadeonOpenCompute/ROCm/issues/887#issuecomment-770574455

[2021-02-26 07:51] qianqing13579 opened #1186 "FP16 is much slower than FP32"
When I use migraphx(https://github.com/ROCmSoftwarePlatform/AMDMIGraphX) to do inference on Rocm,I find that FP16 is much slower than FP32 on VGG network when batchsize is set to 1. I try to do profiling and find that the function rocblas_gemm_ex is the reason. But I do not know why.

[2021-02-26 16:23] TorreZuk commented on #1186
rocblas_gemm_ex functions will use different kernels depending on your arguments and your card all with varying performance.   If you set the environment variable
export ROCBLAS_LAYER=2
it may indicate the parameter types being used for the rocblas_gemm_ex function call.
https://rocblas.readthedocs.io/en/latest/functions.html#rocblas-gemm-ex-batched-strided-batched
Additional mixed precision optim

[2021-02-27 07:09] qianqing13579 commented on #1186
I set ROCBLAS_LAYER=3 on VGG network with batchsize=1, and I see a lot of information as follows.
FP32:
rocblas_gemm_ex,111,111,4096,1,25088,1,0x7fadbf200000,f32_r,4096,0x7fb655204000,f32_r,25088,1,0x7fb655266000,f32_r,4096,0x7fb655266000,f32_r,4096,f32_r,0,0,0
./rocblas-bench -f gemm_ex --transposeA N --transposeB N -m 4096 -n 1 -k 25088 --alpha 1 --a_type f32_r --lda 4096 --b_type f32_r --ldb 25

[2021-02-27 07:10] qianqing13579 commented on #1186
@TorreZuk
I set ROCBLAS_LAYER=3 on VGG network with batchsize=1, and I see a lot of information as follows.
FP32:
rocblas_gemm_ex,111,111,4096,1,25088,1,0x7fadbf200000,f32_r,4096,0x7fb655204000,f32_r,25088,1,0x7fb655266000,f32_r,4096,0x7fb655266000,f32_r,4096,f32_r,0,0,0
./rocblas-bench -f gemm_ex --transposeA N --transposeB N -m 4096 -n 1 -k 25088 --alpha 1 --a_type f32_r --lda 4096 --b_type f32_

[2021-03-01 15:02] frank2679 opened #1187 "build clients-only error"
### What is the expected behavior
I have installed ROCm and rocBLAS according to [instructions](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/docs/source/install.rst).
I want to build clients and run bench/tests, which should be like [this](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/docs/source/clients.rst).

### What actually happens
when I build clients, error ha

[2021-03-01 16:18] TorreZuk commented on #1187
You are missing the dependencies as I expect you built the library without clients when you installed dependencies.
You can try with the flags for dependencies and clients only,
install.sh -d --clients-only
if that fails do the full dependency and library build with clients using: install.sh  -dc

[2021-03-01 16:51] TorreZuk commented on #1186
Thanks for your problem sizes and parameters.  Can you provide the version you are using and your graphics card?

[2021-03-02 00:56] jianlongf commented on #1186
I found the same problem recently by comparing fp32 with fp16 performance in same parameters.
Firstly,  I got rocblam-bench commands through set ROCBLAS_LAYER=2. Then I run them by rocblas-bench (I builded it by source).
The example is below. As you can see, fp32 is better than fp16 in the size, but it doesn't always.(**I noticed --compute_type f32_r in fp16 commands. can I change it to fp16? Do i

[2021-03-02 01:55] qianqing13579 commented on #1186
@TorreZuk
I use rocm3.3. I use rocminfo command,and the output is as follows:
  Name:                    gfx906
  Marketing Name:          Vega 20
  Vendor Name:             AMD
  Feature:                 KERNEL_DISPATCH
  Profile:                 BASE_PROFILE
  Float Round Mode:        NEAR
  Max Queue Number:        128(0x80)
  Queue Min Size:          4096(0x1000)
  Queue Max Size:          131

[2021-03-02 02:27] frank2679 commented on #1187
Thanks for reply.
Since I interrupt the installation "./install.sh -d" yesterday, now, when I run "./install.sh -d --clients-only" or "./install.sh -dc", Error happens like:
[code]

[2021-03-02 18:16] TorreZuk commented on #1186
@jianlongf yes performance will vary by size and rocBLAS version and card.   Yes you can change the types but some versions may report unsupported type.   It depends on your model whether you can get valid results with lower precision accumulation, I can't make general statements.  You can experiment.

[2021-03-02 18:24] TorreZuk commented on #1186
@qianqing13579 if possible updating to a newer rocm may provide better performance.  Additional precision support may get added and some performance optimizations may be made in any rocBLAS release, see https://rocblas.readthedocs.io/en/latest/ and earlier release notes to see changes.  My advice is to get the latest and experiment with sizes to see what performs best for you. Please consult the A

[2021-03-02 18:35] TorreZuk commented on #1187
Did you just try reinstall.
apt install libomp5
General checks:
sudo apt-get clean && sudo apt-get update
Otherwise you'll have to google repairing broken packages as there are multiple routes.

[2021-03-03 13:46] qianqing13579 commented on #1186
@TorreZuk
I use Rocm4.0 instead of Rocm3.3,and I find that FP16 is much faster than FP32.Thanks!

[2021-03-03 17:14] TorreZuk commented on #1186
Thank you for upgrading to ROCm 4.0. It is good to see ROCm 4.0 provides improved performance.  We will review the problem sizes mentioned in this issue going forward.

[2021-03-03 17:14] #1186 closed

[2021-03-04 04:57] frank2679 commented on #1187
At last, I build the rocBLAS with sources. In previous, I installed rocblas with `apt install rocblas`, and build clients with `install.sh --clients-only`. But the two versions don't match. So I remove rocblas and reinstall it by `install.sh -i`. And since my PC has problems connecting with github accidently, I turn off the tensile. Finally, it seems built successfully.
But error occurs when I run

[2021-03-04 16:14] TorreZuk commented on #1187
It looks like your rocBLAS version is very new, the branch are you building seems to be develop.
What is the version of rocm that you installed (4.0 ?)  as it should match the rocBLAS branch, so use rocm-4.0.x branch if you have installed rocm 4.0, or whatever version use matching branch or rocBLAS to release of rocm.
This is the most likely cause, sorry you may have to rebuild again using an olde

[2021-03-05 09:26] frank2679 commented on #1187
I reinstalled rocBLAS to match ROCm 4.0.x, but problem remains.
I recall that when I installed ROCm, error occues as follows, it may be the reason.
I followed the instuction: https://rocmdocs.amd.com/en/latest/Installation_Guide/Installation-Guide.html#ubuntu.

But how to install ROCm correctly?

[code]

[2021-03-05 09:29] frank2679 commented on #1187
another test output as follows
[code]

[2021-03-05 09:34] frank2679 commented on #1187
sorry, forget the new output.
[code]

[2021-03-05 16:09] TorreZuk commented on #1187
sudo usermod -a -G video  $LOGNAME  && sudo reboot
If on Ubuntu20:
sudo usermod -a -G render  $LOGNAME  && sudo reboot
If it still fails, then you may have to reinstall rocm as the install may be messed up due to the permissions.

[2021-03-10 23:29] TorreZuk commented on #1187
This user group information is in the section Prerequisites above the Supported OS section that you linked to.   I'll assume you managed to get it working if I don't hear back and will close this issue in a couple days.

[2021-03-15 19:52] TorreZuk commented on #1187
@frank2679 did you add the video group permissions and still have that error?
If so can you run /opt/rocm/bin/rocm_agent_enumerator to confirm you have a AMD graphics card installed that is capable of being used with rocBLAS.   If you only have an NVIDIA card for now you could use the hipBLAS library built with a CUDA backend, as the clients within rocBLAS only support AMD cards.  However, this wo

[2021-03-19 03:33] SandboChang commented on #481
Not exactly a solution, but to some extent this is solved by using CuPy which now works partly with AMD GPUs through HIP.
Interested users may instead look at that.

[2021-03-19 03:33] #481 closed

[2021-03-24 16:47] #1187 closed

[2021-05-27 16:34] grinness opened #1191 "Build error with GCC11"
Hi,

I am on Arch (x86-64), I have compiled successfully the roc-dev metapackage, however rocblas  does not compile successfully:

In file included from /opt/rocm/llvm/lib/clang/12.0.0/include/cuda_wrappers/complex:75:
/usr/lib64/gcc/x86_64-pc-linux-gnu/11.1.0/../../../../include/c++/11.1.0/complex:703:7: error: __host__ __device__ function '__failed_assertion' cannot overload __host__ function '_

[2021-05-27 17:09] yxsamliu commented on #1191
that's a known issue of clang with gcc11.1. it has been fixed in clang trunk https://reviews.llvm.org/rG9a75c06cd9d94d3fd13c47a01044da97b98cf26b but is not in ROCm release yet.

gcc10 should work.

[2021-05-28 11:55] grinness commented on #1191
Hi,

Thanks for your reply

I am trying to recompile with gcc10, but the complexity of the interdependent relationships between packages is a considerable issue, ie:

I have re-compiled with gcc10 rocblas  (-DCMAKE_C_COMPILER=gcc-10) and llvm-amd (-DCMAKE_C_COMPILER=gcc-10 -DCMAKE_CXX_COMPILER=g++-10), but rocblas still trows an error as Clang12 (in rocm/llvm )includes gcc-11 stuff:

In file inclu

[2021-05-28 13:55] yxsamliu commented on #1191
can you paste the output of `/opt/rocm/llvm/bin/clang -v` ? there may be multiple libstdc++

[2021-05-28 14:35] grinness commented on #1191
Sure, output as below:

pt/rocm/llvm/bin/clang -v                                          ✔ ╱ marco@gemini
clang version 12.0.0 (https://aur.archlinux.org/llvm-amdgpu.git 1a836b482400feabae8a760f8817796ae46b560e)
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /opt/rocm/llvm/bin
Found candidate GCC installation: /usr/lib/gcc/x86_64-pc-linux-gnu/10.2.0
Found candidate GCC installati

[2021-05-28 14:39] yxsamliu commented on #1191
since you have both gcc11.1 and gcc10.2, clang chooses gcc11.1. you need to uninstall gcc11.1.

[2021-05-28 14:54] grinness commented on #1191
Hi yxsamliu,

from what I can see, uninstalling gcc11 is not really straightforward in Arch due to its dependencies and general structure of distro as package gcc  provides gcc11:

sudo pacman -R gcc
checking dependencies...
error: failed to prepare transaction (could not satisfy dependencies)
:: removing gcc breaks dependency 'gcc' required by clang
:: removing gcc breaks dependency 'gcc' require

[2021-05-28 14:58] yxsamliu commented on #1191
try --gcc-toolchain=/usr/lib64/gcc/x86_64-pc-linux-gnu/10.2.0

[2021-05-28 15:31] yxsamliu commented on #1191
To compile HIP program you need to use hipcc or clang as C++ compiler, which is done by the cmake file of rocBLAS. You cannot choose gcc as C++ compiler. To fix the specific issue, clang needs to use libstdc++ of gcc10. This needs to be done by passing the option --gcc-toolchain=/usr/lib64/gcc/x86_64-pc-linux-gnu/10.2.0 to hipcc or clang. You may set env var HIPCC_COMPILE_FLAGS_APPEND='--gcc-toolc

[2021-05-28 18:05] grinness commented on #1191
Hi yxsamliu,

the

HIPCC_COMPILE_FLAGS_APPEND='--gcc-toolchain=/usr/lib64/gcc/x86_64-pc-linux-gnu/10.2.0'

has no effect, neither the "--gcc-toolchain=/usr/lib64/gcc/x86_64-pc-linux-gnu/10.2.0" -- tried as CXXFLAG and/or cmake option

I managed to get the compilation starting (it beaks, see further down) with gcc-10 and relevant libs using the following (all tests passed and linked):
  PATH="/opt/

[2021-05-28 18:58] TorreZuk commented on #1191
@grinness can you describe your goal of using gcc.  We only support building rocBLAS using the rocm clang / hipcc toolchain.  You should be able to include the API header files and link against the library using gcc, but the library itself requires hip and the mentioned toolchain to compile and that is why you can't build it with gcc.

[2021-05-29 10:02] grinness commented on #1191
Hi TorreZuk,

I am just trying to compile rocblas 4.2.0 on my platform -- nothing else.
I use the PKGBUILD from AUR as the Arch4edu repo does not come with support for my GPU (rx480, gfx803)
In fact I have been compiling from AUR successfully since ROCM 4.0 ( and possibly earlier versions too)

The problem arose as the compilation process breaks in ROCM 4.2 with errors (see my first post):

In fil

[2021-05-31 16:05] TorreZuk commented on #1191
It seems like the mixing of toolchains is still happening.  I would try forcing the both C++ and C compilers to hipcc and say they work so that cmake doesn't mess up the paths by detecting other compilers:
export CMAKE_CXX_COMPILER=hipcc
export CMAKE_C_COMPILER=hipcc
export CMAKE_CXX_COMPILER_WORKS=1
export CMAKE_C_COMPILER_WORKS=1
(If hipcc for C fails you can try to keep your gcc10  as not much

[2021-05-31 18:47] yxsamliu commented on #1191
one workaround is manaully patch /opt/rocm/llvm/lib/clang/12.0.0/include/cuda_wrappers/complex

with https://reviews.llvm.org/rG9a75c06cd9d94d3fd13c47a01044da97b98cf26b

then it should work with gcc11

[2021-05-31 21:50] grinness commented on #1191
Thank you TorreZuk and yxsmliu.

I followed yxsamliu suggestion and applied the patch as in

https://reviews.llvm.org/rG9a75c06cd9d94d3fd13c47a01044da97b98cf26b

RocBlas 4.2.0 now compiles fine.

I went ahead and compiled the rocm-libs metapackage from AUR.
The following libs also compile fine:
rocsolver
hipblas
rocprim
hipcub
rocsparse
hipsparse

Unfortunately  miopengemm exits compilation with e

[2021-05-31 21:53] yxsamliu commented on #1191
It seems MIOpenGEMM-rocm-4.2.0/miopengemm/src/enums.cpp forgets to include `<limits>`

[2021-05-31 21:54] grinness commented on #1191
Hi,

I would also add that compiling miopengemm the outtput spams the following message:

In file included from /usr/include/CL/cl.h:20,
                 from /home/marco/.cache/yay/miopengemm/src/MIOpenGEMM-rocm-4.2.0/miopengemm/include/miopengemm/platform.hpp:10,
                 from /home/marco/.cache/yay/miopengemm/src/MIOpenGEMM-rocm-4.2.0/miopengemm/include/miopengemm/hint.hpp:10,

[2021-05-31 21:58] TorreZuk commented on #1191
Great to hear the patch Sam pointed out works for this.   If you don't mind please copy and paste your last MIOpenGEMM comments into a new issue for miopengemm as it sounds like that library team may have to make changes, and then this issue can be closed.   @yxsamliu you can watch for that new issue right?

[2021-05-31 22:01] grinness commented on #1191
ok, thanks again
closing now

[2021-05-31 22:01] #1191 closed

[2021-05-31 22:03] yxsamliu commented on #1191
/usr/include/CL/cl_version.h is not part of ROCm opencl package, which may be incomptable with MIOpenGEMM. ROCm OpenCL has /opt/rocm/opencl/include/CL/cl_version.h

[2021-05-31 22:17] grinness commented on #1191
Hi xsamliu,

I understand that this is not part of rocm, but then why miopengemm is including that file and not it's own?
To me this is an issue in the 'autoconf' of miopengemm -- the /usr/include/CL/cl_version.h is part of the distro. if miopengemm wants its own include, it should be aware of it and where it is

I am wrong?

[2021-05-31 22:20] grinness commented on #1191
xsamuliu,

I just checked and I do not have on my system an /opt/rocm/opencl/include/CL/cl_version.h

I do have the below:

/opt/rocm/include/CL/cl_version.h

[2021-05-31 22:40] yxsamliu commented on #1191
do you have the compilation command line for miogemm.cpp? I would expect it to have -I/opt/rocm/opencl/include. Probably it finds /usr/include/CL/cl_version.h due to /opt/rocm/opencl/include is missing.

[2021-06-01 08:34] grinness commented on #1191
Hi yxsamliu,

the AUR PKGBUILD default build section looks like:

l# -fcf-protection is not supported by HIP, see
  # https://github.com/ROCm-Developer-Tools/HIP/blob/rocm-4.2.x/docs/markdown/clang_options.md
  # -fPIC fixes linking errors with boost.
  export CXX=/opt/rocm/llvm/bin/clang++
  export CXXFLAGS="${CXXFLAGS} -fcf-protection=none -fPIC"

  cmake -P install_deps.cmake \
        --minimu

[2021-06-01 09:24] grinness commented on #1191
For what concern the rocm-opencl-runtime:

https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=rocm-opencl-runtime

the cmake  command installs in prefix /opt/rocm:

build() {
    CFLAGS="$CFLAGS -isystem /opt/rocm/include/compiler/lib -isystem /opt/rocm/include/compiler/lib/include -isystem /opt/rocm/include/elf" \
    CXXFLAGS="$CXXFLAGS -isystem /opt/rocm/include/compiler/lib -isystem /opt/r

[2021-06-01 14:03] yxsamliu commented on #1191
The error you saw about opencl version happened when you built MIOpenGEMM, right? It is a different package than MIOpen:

https://github.com/ROCmSoftwarePlatform/MIOpenGEMM

You can specify opencl include path and library path by cmake.

[2021-06-01 15:50] grinness commented on #1191
Hi yxamliu,

it is the same package.
I'll change the cmake  -DOPENCL_LIBRARIES=<opencl-library-path> -DOPENCL_INCLUDE_DIRS<opencl-headers-path>
I'll also add that #include<limits>  and test out

Thanks

[2021-06-01 21:00] grinness commented on #1191
I confirm that adding the cmake flags at build time solves the issue with inclusion of system CL include.
Also including limits in MIOpenGEMM-rocm-4.2.0/miopengemm/src/enums.cpp solves the compilation error

Note the following:

 In file included from /opt/rocm/include/CL/cl.h:32,
                 from /opt/hd01/projects/pkgbuild/miopengemm/src/MIOpenGEMM-rocm-4.2.0/miopengemm/include/miopengemm/p

[2021-06-01 22:02] haampie opened #1192 "Difference between Tensile_ARCHITECTURE and Tensile_LOGIC?"
What are Tensile_ARCHITECTURE and Tensile_LOGIC, and how are they supposed to be used?

[2021-06-02 02:18] sdquiring commented on #1192
`Tensile_ARCHITECTURE` allows you to limit the GPU architecture(s) that are targeted when building Tensile within rocBLAS.  By default, it has the same value as `AMDGPU_TARGETS` which would mean a consistent set of GPUs between Tensile and the rest of rocBLAS.

`Tensile_LOGIC` allows you to select a different logic directory from within https://github.com/ROCmSoftwarePlatform/rocBLAS/tree/develop/

[2021-06-02 15:42] TorreZuk commented on #1192
Thanks @sdquiring !   Some more background on Tensile logic is at https://rocmdocs.amd.com/en/latest/ROCm_Tools/tensile.html#librarylogic if you want to dig deeper.  The architecture set in Tensile_ARCHITECTURE should be the one passed into -a of install.sh as you want compilation for the GPU architectures to be consistent for rocBLAS library source kernels and the tensile library (embedded in roc

[2021-06-02 21:16] Artem-B opened #1193 "rocBLAS compilation fails with recent clang due to too-much __shared__ use."
This affects multiple source files. Here's one example:
https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/78203396eb36eedcd116713d9755a67c35e48d42/library/src/blas3/rocblas_symm.hpp#L58

[code]

When the function is instantiated with TILE_NK=32 and T=rocblas_complex_num<double>,
the `atile` and `btile` consume 2*32*32*16 =32768 bytes.
If that would be the only instance present in the source fil

[2021-06-02 21:33] rampitec commented on #1193
This sounds fishy. There was a bug causing overallocation with multiple kernels introduced by the [previous change](https://github.com/llvm/llvm-project/commit/8de4db697f2841748a5489d18d9fbcd130ae09bb), but it is fixed by the [change you have mentioned](https://github.com/llvm/llvm-project/commit/5e2facb922840bfd03eb116eaeead039df021275).

If that is still the case can I see compiler dumps? I've g

[2021-06-02 21:46] rampitec commented on #1193
Besides rocBLAS is tested in PSDB before changes are merged into internal branches. As far as I can see both changes are merged, PSDB is green including rocBLAS.

[2021-06-02 21:47] Artem-B commented on #1193
I see the issue with clang built from yesterday's llvm HEAD at https://github.com/llvm/llvm-project/commit/97d234935f1514af128277943f30efc469525371

The IR generated by the compiler before and after your changes is nearly identical (there are some logical ops changes in the code, but the rest is the same). Compilation is done with `--offload-arch=gfx900`. rocBLAS I'm using is from rocm-4.1.x branc

[2021-06-02 21:49] rampitec commented on #1193
Could you attach a bitcode after -save-temps?

[2021-06-02 21:55] Artem-B commented on #1193
Here it is:
[rocblas_symm-hip-amdgcn-amd-amdhsa-gfx900.bc.gz](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/6587604/rocblas_symm-hip-amdgcn-amd-amdhsa-gfx900.bc.gz)

[2021-06-02 22:05] rampitec commented on #1193
Thanks. We must compile it differently. grep LDSByteSize after compilation:

; LDSByteSize: 0 bytes/workgroup (compile time only)
; LDSByteSize: 8192 bytes/workgroup (compile time only)
; LDSByteSize: 8192 bytes/workgroup (compile time only)
; LDSByteSize: 0 bytes/workgroup (compile time only)
; LDSByteSize: 8192 bytes/workgroup (compile time only)
; LDSByteSize: 8192 bytes/workgroup (compile time

[2021-06-02 22:31] Artem-B commented on #1193
Running upstream `llc` on the bitcode I've posted shows the same LDSByteSize for all entries.
How is it calculated?

[code]

Can you post the IR you've got in your build of rocblas_symm? I want to understand what's different between out builds.

[2021-06-02 22:34] rampitec commented on #1193
It traverses each function and collects everything a kernel uses. But thanks for the hint to run just llc on that dump (w/o any optimization). Now I see the same error!

[2021-06-02 22:41] rampitec commented on #1193
There really seems to be an error in the compiler, but it also seems your clang compilation does not run opt passes which triggers it.

What happens next is lower-module-lds pass collects LDS used from non-kernel functions and creates a single huge structure %llvm.amdgcn.module.lds.t used from all kernels because a non-entry function cannot define LDS use, it is statically allocated. I.e. the cond

[2021-06-02 22:58] rampitec commented on #1193
No, this is really a red herring. It does not work even w/o my patch. If there is no inlining that is the real LDS usage - 147456 bytes in each kernel. There must be something else to get the results reported - different per kernel LDS use and compilation with optimizations.

[2021-06-02 23:06] Artem-B commented on #1193
The build was done with -O3, though we also have tons of other options.
Considering that during full compilation I do get substantially different numbers in the limit errors, there are at least some passes applied past the `-emit-llvm` point that affect the outcome.

Can you post the IR you've got in your working build of rocblas_symm and the compiler options used? I'll try to figure out where my

[2021-06-02 23:17] rampitec commented on #1193
That's the problem, I am using your IR since I am not building from source. Our compilation must deviate. I am then using two ways of compilation, both successful:

1) opt + llc

opt -march=amdgcn -mcpu=gfx900 -S -O3 -amdgpu-early-inline-all=true -amdgpu-function-calls=false rocblas_symm-hip-amdgcn-amd-amdhsa-gfx900.ll -o rocblas-symm.opt.ll
llc -march=amdgcn -mcpu=gfx900 -O3 rocblas-symm.opt.ll

[2021-06-02 23:24] Artem-B commented on #1193
Interesting observation, my compilation succeeds with `-O1`, but not with `-O0` or `-O2` or `-O3`.
With `-O1`  `LDSByteSize` in the assembly do match the numbers you've reported.

AFAICT, in case of -O1, the `symm_hemm_mult_add_device` gets inlined into the kernel, but the loop is not unrolled. (which is probably what leads to the LDS size miscalculation). With -O2/O3, the symm_hemm_mult_add_devic

[2021-06-02 23:28] Artem-B commented on #1193
Here's the before/after IR dump. [rocblas_symm.irdump.gz](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/6587911/rocblas_symm.irdump.gz)

[2021-06-02 23:28] rampitec commented on #1193
I think it cannot build at -O0 because module LDS will be forced for every kernel and total it too big. This however has nothing to do with my changes and pre-existed. I believe someone has turned off forced inlining of functions defining LDS some time ago hence this would happen at -O0. This is not our scenario anyway.

Then heavy unrolling would prevent inlining, true, because function to inline

[2021-06-02 23:52] Artem-B commented on #1193
Considering that we can't reliably tell whether particular function is going to be inlined, is there a difference between a kernel and non-kernel functions in that regard? Depending on specific options, non-kernel function can be inlined into the kernel.

[2021-06-02 23:58] rampitec commented on #1193
Mistery solved, thanks for the dumps! This is really triggered by my patch, but that is [older patch](https://github.com/llvm/llvm-project/commit/748db5bfacf1f81f65e8c052459ed3eca6aa18c8).

These are all good news unfortunately. This patch fixes a real bug which was in the compiler since AMDGPULowerModuleLDSPass was introduced. The pass allows not to force inlining of functions defining LDS object

[2021-06-02 23:59] Artem-B commented on #1193
I've also figured out a workaround. Adding `__attribute__((always_inline))` to symm_hemm_mult_add_device, appears to make build work again.

[2021-06-03 00:00] rampitec commented on #1193
Yes, see the explanation above! And thanks again for all the dumps.

[2021-06-03 00:02] Artem-B commented on #1193
OK, so let's keep this issue open, so rocBLAS folks can refactor the kernels.
Please CC me on LLVM review when you have it, so I know when it lands.

And thank you for your help debugging the issue.

[2021-06-03 00:10] rampitec commented on #1193
It's currently on Mahesha's plate, but I am not sure who will end up writing the actual transformation. It is somewhat tricky to make such function working beeing called from different kernels (static addresses shall be the same) and with indirect calls. The latter is the real reason to stop forced inlining by the compiler.

[2021-06-03 13:06] AdhocMan commented on #1175
This seems to have been solved in the recent ROCm 4.2.0 release, thanks.
Performance is much better now and it's no longer a bottleneck for our application.

[2021-06-03 13:06] #1175 closed

[2021-06-03 15:16] TorreZuk commented on #1193
I will take this issue and make code changes for the failing kernels as I had already reported an internal ticket.  Other kernels appear to be affected so will have to review them all to determine if a consistent solution can be applied.   I can update this issue when changes are complete.

[2021-06-22 20:30] TorreZuk commented on #1193
Changes for the explicit inlining workaround have been merged to master and should be in the 4.4 release in commit 4dabf43e77f56ac460898e60aca5fb00267fa464.    Further changes may be required as the llvm evolves but perhaps we can close this issue now, @Artem-B ?

[2021-06-22 20:38] rampitec commented on #1193
Note that since https://reviews.llvm.org/rG80fd5fa5269ce102b3126d2de49970e3af6719d5 it shall work without inlining too.

[2021-06-22 20:50] TorreZuk commented on #1193
Thanks @rampitec , that is good to know.   We never know what will end up being the frozen version of llvm/clang officially used for a rocBLAS release in the future so hopefully that change will be used soon and no further modifications are required.

[2021-07-08 17:06] upsj opened #1195 "Extremely poor performance for small-and-wide GEMMs"
### What is the expected behavior
Computing the dgemm product C(nxm) = A(nxk) * B(kxm) with n=2, k=8.000.000 and m small using rocBLAS gives good performance.
(We use these kinds of operations for simultaneously computing multiple dot products in Krylov solvers)

### What actually happens
The operation has much worse performance for m=1 than m=2, and has the same runtime for m=4,8,16,32,...,256,51

[2021-07-08 17:16] upsj commented on #1195
For a bit more context: A, B and C are stored row-major, we call `gemm` as follows:
[code]
https://github.com/ginkgo-project/ginkgo/blob/50e1c9a8e7ca826164aba7f127f27cd1b7fe9e54/hip/base/hipblas_bindings.hip.hpp#L108
https://github.com/ginkgo-project/ginkgo/blob/50e1c9a8e7ca826164aba7f127f27cd1b7fe9e54/hip/matrix/dense_kernels.hip.cpp#L88

[2021-07-12 14:07] amcamd commented on #1195
Hello upsj,

We will aim to tune gemm for your sizes. It will help us if you can log the gemm calls for your application. You can do this by setting the environment variable ROCBLAS_LAYER to the value 2 and then running your application.

If it is not possible to log calls, can you let us know the datatype, sgemm, dgemm, cgemm, zgemm? Also can we assume that tuning is needed for n=2, k=8 000 000,

[2021-07-12 16:11] amcamd commented on #1184
A new algorithm for syrkx is checked into the develop and master branches of rocBLAS. It will be in the next release of rocBLAS.

For the sizes in this issue, the performance measured on MI100 for the old and new dsyrkx is in the table below.

|     N   |      K     |  old GFlop/sec  |  new GFlop/sec  |
|-------|---------|------------------|-------------------|
| 1536  |   8192  |         935

[2021-07-15 10:58] upsj commented on #1195
The worst results I get out of
[code]
but
[code]
is also far below optimal performance

[2021-07-15 13:51] amcamd commented on #1195
Thank you for these sizes, we will look into tuning for these sizes.

[2021-07-16 16:59] TorreZuk commented on #1192
Closing this issue @haampie but you can open another if you have further questions.  If they are specific to Tensile logic you can open them on the Tensile repo.   Thanks.

[2021-07-16 16:59] #1192 closed

[2021-08-04 14:28] #1184 closed

[2021-08-04 16:49] haampie opened #1196 "Doesn't configure with cmake 3.21 and hipcc"
Somehow using cmake 3.21 and CXX=hipcc cmake errors out:

[code]

This bug has been there for a long time, but apparently it was never triggered cause HIP_RUNTIME is always rocclr, and the regex only gets compiled in a branch that's never hit.

Except with cmake 3.21...

Apparently if you set CXX=hipcc cmake recognizes the compiler as ROCMClang, and then CMAKE_CXX_COMPILER is set to the underlying

[2021-08-04 16:58] haampie commented on #1196
Oh, has this been fixed in rocm 4.3.0?

[2021-08-04 17:12] TorreZuk commented on #1196
The regex has been fixed but yes we don't want it to even go to that branch in the code.
@cgmb has suggested a workaround
set(__skip_rocmclang ON)
until the issue is addressed in cmake: https://gitlab.kitware.com/cmake/cmake/-/issues/22460

[2021-08-04 17:13] haampie commented on #1196
So you're not supposed to use find_package(hip) anymore after cmake 3.21.x fixes their issues?

[2021-08-04 17:45] TorreZuk commented on #1196
The cuda regex branch we don't expect it to go into, find_package(hip) should be executed as before.    The cmake issue is for compiler features.  Depending on how things change in CMake we will have to adapt code like CMAKE_CXX_COMPILER_ID matches "Clang" which has already changed from 4.3 release.

[2021-08-05 08:23] littlewu2508 commented on #1196
I manually skip this issue by replacing `*cuda*` with `cuda`, however I encountered the following errors:

[code]

[2021-08-05 08:25] littlewu2508 commented on #1196
And if I set `-DBUILD_CLIENTS_TESTS=OFF` and `-DBUILD_CLIENTS_BENCHMARKS=OFF` to disable building rocblas-test and rocblas-benchmark, I encounter cmake generation error:

[code]

[2021-08-05 09:57] littlewu2508 commented on #1196
Oh that really helps. Thanks!

[2021-08-05 14:50] TorreZuk commented on #1196
Yes @littlewu2508 the find_package(hip) will provide all the required hip:: dependencies.
We can leave this ticket open until the cmake issue is sorted out which may require additional changes on our side, but for now use either an older CMake or set(__skip_rocmclang ON).

[2021-08-09 07:48] jianlongf opened #1197 "fused matmul relu"
HI, The gemm + relu has many times of inference.(In amd, we call rocblas backend) So I wanna know is there matmul + relu implementation in rocBlas. Thanks in advance for any help.

[2021-08-13 21:18] syifan opened #1199 "Segmentation Fault in `rocblas_set_matrix` function."
### What is the expected behavior
The program should run.

### What actually happens
Segmentation Fault.

### How to reproduce
Here is the program. If n is 256 or smaller, it works. If n is 512 or larger, it fails.

[code]

### Environment

See the output of rocminfo attached. It should be a standard ROCm 4.2 installation.

[rocminfo.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/69851

[2021-08-16 15:58] amcamd commented on #1199
Hello Syifan,

In your test code can you please try changing from:

rocblas_set_matrix(m, n, sizeof(float), hA.data(), n, dA, n);

to

rocblas_set_matrix(m, n, sizeof(float), hA.data(), m, dA, m);

Your test code is allocating matrices with largest addressable index m * n, but it is asking to copy a matrix with largest addressable index m + (n-1)*lda. In your case m * n = 64 * 512 = 32 768 and m +

[2021-08-17 01:30] twhite-cray opened #1200 "Minor typos: thown -> thrown"
https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/9d6a6d8d33d20da172c6a1dae6c7389296a647e6/library/src/tensile_host.cpp#L828
https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/9d6a6d8d33d20da172c6a1dae6c7389296a647e6/library/src/tensile_host.cpp#L834

[2021-08-17 06:47] jianlongf opened #1201 "incremental compile"
### What is the expected behavior
- incremental compile

### What actually happens
- every time I used install.sh to build client. It seems like building from scratch and cost a lot times.

### How to reproduce
- ./install -c

### Environment
| Hardware | description |
|-----|-----|
| GPU | Vega 20 |

| Software | version |
|-----|-----|
| ROCM | 4.0.x |

And another problem. I wanna extract gemm

[2021-08-17 16:47] amcamd commented on #1201
Hello Jianlongf,
For an incremental compile can you please:
cd build/release; make

Also, to speed up install.sh, can you use the -a flag to specify the vega20 architecture. I use the following in a script to build rocBLAS for a single architecture, not a fat binary for multiple architectures:

if [ "$(/opt/rocm/bin/rocm_agent_enumerator | grep -m 1 gfx900)" == "gfx900" ]; then
    echo "=====ISA

[2021-08-17 18:07] amcamd commented on #1200
Thanks for reporting this typo. It is corrected in the develop branch with commit 6588efe.

[2021-08-17 18:07] #1200 closed

[2021-08-18 05:56] jianlongf commented on #1201
@amcamd  Thanks a lot. That's very help to me.

[2021-08-18 05:56] #1201 closed

[2021-08-19 14:38] syifan commented on #1199
Changing to `m` generates this error:

[code]

Do you know what is the reason?

But I understand your point, the data should be column-major, and hence, the lda should be the number of rows, right?

[2021-08-19 19:25] amcamd commented on #1199
I am not sure why you are getting an error. For the code below in main.cpp I compiled with:
[code]
Note that rocBLAS was installed in the default directory /opt/opt/rocblas. If your rocBLAS is in a different directory you will need to change the -L and -I in the compile command above.

When I run the code there are no errors. Can you try code like the one below.

[code]

[2021-08-21 15:11] littlewu2508 opened #1202 "Some client tests failure on Radeon VII"
### What is the expected behavior
- All client tests passed excepted for the known_bug suite.

### What actually happens
- Compared with the [blis library](https://github.com/amd/blis)(compiled using AOCC 3.1.0 and gcc-11.2, same results) and [reference lapack](https://github.com/Reference-LAPACK/lapack), 4 tests from pre_checkin/gemm.blas3_tensile and pre_checkin/gemm_strided_batched.blas3_tensil

[2021-08-21 15:25] littlewu2508 commented on #1202
Detailed test result (gzip compressed):
[rocBLAS-4.3.0-amdblisaocc-test.log.gz](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/7025728/rocBLAS-4.3.0-amdblisaocc-test.log.gz)

failed ones:
[code]

[2021-08-21 15:28] littlewu2508 commented on #1202
And the 8 failed tests compared to openblas:

[code]

[2021-08-23 15:08] TorreZuk commented on #1202
@littlewu2508 can you attach the full log for the openblas test run (gemv failures) as want to confirm these are tolerance failiures?  thanks.

[2021-08-23 17:00] littlewu2508 commented on #1202
I didn't perform full test against openblas for rocBLAS-4.3, but I have a full log for rocBLAS-4.1, and still the 8 tests failed. The kernel version is also 5.13.3 and ROCm is version 4.1.
[rocBLAStest.log.gz](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/7033690/rocBLAStest.log.3.gz)

I will test rocBLAS-4.3 against openblas later, and maybe trying with different versions of openblas.

[2021-08-23 18:06] TorreZuk commented on #1202
Thanks @littlewu2508 for the openblas log attachment.   So the gemv failures looks like we are not allowing for random roundoff error tolerance, as the difference is only in the 8th significant digit of a float,  as accumulation can occur in different order with different implementations which is allowed (openblas vs. blis vs. rocBLAS) it is valid for this 8th digit of precision to differ. The dou

[2021-08-24 03:19] littlewu2508 commented on #1202
Thanks for the clear explanation. I think all the solutions are OK, since my intention for open this issue is to get clear why there are several failure and whether they matter. Put them into the known_bug suite would be enough.

[2021-08-24 15:47] amcamd commented on #1202
@littlewu2508, I have checked the 4 listed gemm tests and my understanding is that the rocBLAS gemm functions have the same behavior as legacy BLAS. The 4 listed gemm tests have alpha = 0 and beta = 0. In this case rocBLAS gemm functions return matrix C with all zero values. The rocBLAS tests verify this by setting the input matrices A, B, C to have NaN values, and check that there are no NaN valu

[2021-08-24 17:18] amcamd commented on #1195
@upsj , The following commit to rocBLAS develop branch was merged by @KKyang on 19 August.
575b3d4559b1811763ee8951d426f87e5c8beab1
Below are improvements for the two worst results in your email on a MI100 device:

[1, 2, 8000000] improved from 0.017gflops to 45.0134gflops
[2, 2, 8000000] improved from 0.284gflops to 89.5982gflops

Can you let us know if this is close to the expected performance.

[2021-09-03 11:54] haampie opened #1204 "Compilation warnings"
When compiling rocBLAS I'm getting this error for as long as I remember:
[code]

[2021-09-03 15:10] TorreZuk commented on #1204
I think I remember a day when it wasn't there :-)   I have asked for it to be fixed a long while back too so I'll prod them again, I also had agreed with changes that would not incorrectly call it such a thing an error but those were not accepted.  It may be I can get them to fix it or perhaps will be able to fix it myself now, I'll keep you posted.

[2021-09-10 22:03] TorreZuk commented on #1204
https://github.com/ROCmSoftwarePlatform/Tensile/pull/1403 looks like it may be close to going in and should fix the last ones.

[2021-09-11 08:57] haampie commented on #1204
Nice, that's great!

[2021-09-21 15:25] ckendrick opened #1210 "Error with `DgetriBatched` function on AMD devices"
### What is the expected behavior
The function should work without error. The same function call with the same inputs works on an Nvidia system using cuBLAS.

### What actually happens
`rocblas_status_invalid_pointer` error is returned.
This code fails on AMD platforms, but runs fine when using any Nvidia card (the HIP version and original CUDA/cuBLAS versions both work).

### How to reproduce
- S

[2021-09-24 20:42] daineAMD commented on #1210
I believe this was recently fixed in https://github.com/ROCmSoftwarePlatform/hipBLAS/pull/367, the relevant rocSOLVER PR which added this support is at https://github.com/ROCmSoftwarePlatform/rocSOLVER/pull/305. These additions aren't in ROCm 4.2 which would explain why you're seeing the issue.

Prior to these PRs, hipBLAS with a rocBLAS/rocSOLVER backend did not support a `nullptr` `ipiv`. I will

[2021-09-24 22:37] daineAMD commented on #1210
I'm seeing a successful return using your example with the tip of develop for hipBLAS/rocSOVLER, which supports my suspicions that it was solved in the mentioned PR. Please let me know if you have any further questions regarding this! Thanks.

[2021-09-24 23:21] TorreZuk commented on #1196
cmake 3.21.3 should fix this issue so closing.   https://gitlab.kitware.com/cmake/cmake/-/commits/v3.21.3/
If this doesn't suffice either reopen this or make a new issue.  Thanks for reporting the problem.

[2021-09-24 23:21] #1196 closed

[2021-09-24 23:22] haampie commented on #1196
Yup, I've created a PR to fix this in spack, thanks for confirming.

[2021-09-24 23:27] TorreZuk commented on #1210
Wonder if there is a way to migrate this to a hipBLAS issue ?  Have you tried "Transfer issue" ?  I haven't.

[2021-10-04 20:40] amcamd commented on #1199
Hello @syifan , are you still getting errors calling rocblas_set_matrix? I am not sure if your question has been answered. If your question is answered can I close this issue?

[2021-10-27 18:59] lucbv opened #1214 "Compilation warning"
### What is the expected behavior
- I would like to avoid warnings from the library to have my own code build and link cleanly on top of rocblas

### What actually happens
- I am getting the following warning:
[code]

### How to reproduce
- I believe just building host code and linking against rocblas using the clang compiler will generate that warning

### Environment
| Hardware | description |
|

[2021-11-02 22:16] NaveenElumalaiAMD commented on #1214
Hi, Thank you for reporting this issue. I did not get the compilation warning when I tried to reproduce this error from my side. Would you be able to provide more information, a sample code and  how you built it?

[2021-11-04 16:33] lucbv commented on #1214
@NaveenElumalaiAMD thanks, sorry for being slow in my response!

[2021-11-07 02:29] xuhuisheng opened #1218 "pytorch train FC hang on ROCm-4.5.0 with gfx803"
@cgmb
Please help to have a look this bug. Thank you very much.
If you haven't enough time, please give me some clue. I am really not familiar with GCN assembles. (T_T)

### What is the expected behavior
- train FC properly

### What actually happens
- hang with GPU 100%

### How to reproduce
- train sample FC on pytorch-1.10.0
- <https://github.com/xuhuisheng/rocm-build/blob/master/check/test-pyt

[2021-11-10 06:24] cgmb commented on #1218
This appears to be caused by out-of-bounds writes in the gemm batched routines for gfx803. By deleting the Tensile yaml files for that architecture, you fall back to source kernels rather than using the assembly kernels. In my tests, the source kernels appear to have fewer failures, but I'm not sure that this entirely solves the problem. I still see failures when running `rocblas-test --gtest_filt

[2021-11-13 23:55] cgmb commented on #1218
You can see what kernels are run using the `TENSILE_DB` environment variable. I used that to determine exactly what Tensile kernels that your example calls.

Using rocBLAS built with the r9nano yaml files:
[code]

Using rocBLAS built without the r9nano yaml files:
[code]

[2021-11-14 00:09] cgmb commented on #1218
These are my logs running rocblas-test on the RX 570 with and without the r9nano yaml files:
[gemm_test_logs.zip](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/7532945/gemm_test_logs.zip)

Unfortunately, in both cases you see failures like these:
[code]

That failed check in `d_vector.hpp` is looking at the contents of the padding which is added to device allocations in the test code. If t

[2021-11-16 03:51] Madu86 opened #1224 "Fortran examples"
Hello,
I want to use bindings from rocblas_module.f90; but unfortunately, I couldn’t find any examples in ROCBLAS manual (https://rocblas.readthedocs.io/_/downloads/en/master/pdf/). Where can I find some fortran examples? Thanks!

[2021-11-16 16:34] TorreZuk commented on #1224
Hi @Madu86 ,
You can look at https://github.com/ROCmSoftwarePlatform/rocBLAS-Examples/tree/develop/Languages/Fortran and the three client samples that use fortran: https://github.com/ROCmSoftwarePlatform/rocBLAS/tree/develop/clients/samples.
If you try to follow those and get stuck let us know what errors you see and what fortran you are trying to use
Thanks.

[2021-11-17 04:09] Madu86 commented on #1224
Hi @TorreZuk, Thank you very much. I went through your examples and wrote the drivers I needed. With gfortran-7.5, I didnt encounter any problems.

[2021-11-18 05:13] ye-luo opened #1226 "how to resolve CMake error"
Trying to build rocblas from rocm-4.5.0 tag.

### What is the expected behavior
Get through CMake step.

### What actually happens
Got error
[code]

### How to reproduce
[code]

### Environment
ubuntu 20.04.

| Software | version |
|-----|-----|
| ROCm | v4.5 |

[2021-11-18 16:01] TorreZuk commented on #1224
Thanks for reaching out to us. Closing the issue.

[2021-11-18 16:01] #1224 closed

[2021-11-19 00:36] amcamd commented on #1226
Can you please check how much memory you have on your machine with the command:

free -h

It is recommended that you have 64 GB to build rocBLAS.

Can you also confirm that you have a gfx906 machine with the command:

rocm_agent_enumerator

Below is output on my machine:

              total        used        free      shared  buff/cache   available
Mem:           62Gi       7.4Gi        32Gi

[2021-11-19 01:05] ye-luo commented on #1226
[code]
here is the output [install.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/7566995/install.txt)
It doesn't seem like OOM issue but more of python module failure due to search paths.

[2021-11-19 06:13] zaliu commented on #1226
@ye-luo I see in your install.out that hipcc was never found.  Where is your hipcc installed?  The default is /opt/rocm/bin/hipcc.

[2021-11-23 23:28] zaliu commented on #1226
@ye-luo Please follow-up or close the issue if resolved.  Thanks.

[2021-11-25 04:35] ye-luo commented on #1226
@zaliu I don't get what you mean "hipcc was never found". My install.txt clearly mentions
[code]
This clearly indicates hipcc was found and was being used as both C++ and C compiler.

[2021-11-25 05:17] zaliu commented on #1226
My run shows:

[code]
Your run shows
[code]
I'm not sure why your run showed **skipped** while mine showed **works**.  I agree that obviously cmake saw hipcc, but something isn't quite right when cmake checked for a working CXX compiler.

So far we are unable to reproduce your build failure.  We need more information.

Would you please attach /home/yeluo/opt/rocBLAS/build/release/CMakeFiles/CMakeO

[2021-11-25 05:31] ye-luo commented on #1226
You misunderstood CMake. "skipped" means CMake is confident that there is no check needed. CMake only checks the compiler when it doesn't have enough confidence in it.
By the way, I'm using CMake 3.20.2.
[CMakeOutput.log](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/7600427/CMakeOutput.log)

[2021-11-25 05:48] zaliu commented on #1226
@sdquiring would you please help with this issue?  What could have caused the error:
[code]

Thanks so much.

[2021-11-25 05:52] zaliu commented on #1226
@ye-luo I tried cmake 3.20.6 and my rocBLAS build worked fine.

[2021-11-25 17:04] TorreZuk commented on #1226
If you later jump to cmake version 3.21+ you should use cmake 3.21.3 version or later as there are unrelated cmake issues with 3.21.x with x < 3.
One closed issue was https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/1196
I guess we need to find out how cmake 3.20.2 is interfering with the tensile python build (by reproducing) and then potentially blacklist that cmake version for building roc

[2021-11-25 18:22] ye-luo commented on #1226
Unfortunately 3.21.4 doesn't help. I also think the earlier failure before the python import was the root cause. I have to take a more close look at what actually CMake was doing.

[2021-11-25 18:39] TorreZuk commented on #1226
So does 3.21.4 fail the same way, can you attach a failed log?   If you can help dig deeper add a --trace to the cmake invocation (right after ${cmake_executable} ) in install.sh and save all the build output that will give us full information on what cmake is doing, as your attached log CMakeOutput.log I didn't see a cmake error.
I'll install 3.21.4 now and try and reproduce as well as so far it

[2021-11-30 00:29] bragadeesh commented on #1218
Please note that gfx803 is not officially supported on ROCm.
Best we can do at this point is to provide you information (such as above) to help enable you to resolve these issues yourself.

[2021-11-30 01:48] xuhuisheng commented on #1218
Thank @cgmb help, I will try to test to this direction.

Thank @bragadeesh noticed, I am very appreciate for your help.

[2021-12-02 00:52] rkamd commented on #1226
@ye-luo ,
Please provide us the output of the following,
1. `cat /home/yeluo/opt/rocBLAS/build/release/virtualenv/pyvenv.cfg`
2. List of packages visible to the virtual environment , type the following command
    - `source /home/yeluo/opt/rocBLAS/build/release/virtualenv/bin/activate`
    - `pip list >& venv_pip_list.txt`

[2021-12-31 09:19] Maxzor opened #1229 "Compilation error with vanilla llvm-13"
Hello,
Cross-posting as this might very be a rocBLAS issue instead of a Tensile one:
https://github.com/ROCmSoftwarePlatform/Tensile/issues/1455.

[2022-01-03 20:31] TorreZuk commented on #1229
So @Maxzor is this resolved based on your comment in the Tensile issue?   We will only directly support compilation using the llvm clang bundled with the rocm distribution and it sounds like your build is using other llvm so relies on others to fix it.   Anyway  please comment further or close this issue.

[2022-01-03 20:34] TorreZuk commented on #1204
Additionally now rocm-cmake will report these cases as ROCMChecks warnings:|https://github.com/RadeonOpenCompute/rocm-cmake/pull/62 and environment variable toggles have been added.

[2022-01-03 20:34] #1204 closed

[2022-01-07 13:55] Maxzor commented on #1229
@TorreZuk I updated the issue with another point that I am facing.
This is not just an "other" LLVM, this is upstream LLVM, so some support for it would be really nice.

[2022-01-17 23:10] #1229 closed

[2022-02-04 23:05] TorreZuk commented on #1193
Still using explicit inlining in rocblas sub kernel function calls and working fine.  Closing issue as no further changes made.

[2022-02-04 23:05] #1193 closed

[2022-02-04 23:07] TorreZuk commented on #1226
It has been two months so assuming this has been resolved or no longer relevant.  Closing the issue.

[2022-02-04 23:07] #1226 closed

[2022-02-19 18:57] gggh000 opened #1234 "build error with install.sh -icd is it due to pip version"
Tried installing using install.sh -icd but not working because some pip related insatllation error. It complains pip version being old but when I checked both pip and pip3 they are newer.
It appears rocblas is fetching its own pip in build folder and that is being outdated?

`/root/ROCm-4.5/rocBLAS/build/release/virtualenv/bin/python3 -m pip install git+https://github.com/ROCmSoftwarePlatform/Tens

[2022-02-24 18:36] mahmoodw commented on #1234
Hello, there does seem to be some confusing version messages here. I would be interested in seeing what the following command produces:
/root/ROCm-4.5/rocBLAS/build/release/virtualenv/bin/python3 -m pip --version

Then the following command may help:
/root/ROCm-4.5/rocBLAS/build/release/virtualenv/bin/python3 -m pip install --upgrade pip

So far I am unable to reproduce the error on my end.

[2022-02-27 06:44] gggh000 commented on #1234
I can see above your recommendation returns 9.0.3 old version and I upgraded:
/root/ROCm-4.5/rocBLAS/build/release/virtualenv/bin/python3 -m pip install --upgrade pip

Now If I restart installation, it appears to be overwritten. It is back to 9.0.3, I am not sure when and how or when it is being overwritten when issuing "install -icd"

[2022-02-27 17:09] gggh000 commented on #1234
Also on ubuntu build works but pip is still 9.0.3.
 I dont think error is due to pip version.
/root/ROCm-4.5/rocBLAS/build/release/virtualenv/bin/python3 -m pip --version

[2022-02-27 17:37] gggh000 commented on #1234
I manually executed tensile build which is the point of failure. if i use /usr/bin/python3 it works fine, the python3 in the virtualenv is somehow failing the build:
[root@ixt-hq-178 pip-dhmcy29k-build]# python3 -m pip install git+https://github.com/ROCmSoftwarePlatform/Tensile.git@0f6a6d1557868d6d563cb1edf167c32c2e34fda0 2>&1 | tee pip.install.tensile.log
Collecting git+https://github.com/ROCmSof

[2022-02-27 17:57] gggh000 commented on #1234
I manually issued python pip build of tensile and confirmed that after upgrading, it works. the cmake/virtualen_install needs following otherwise ended up using older pip and causing build failure of tensile thus rocblas.

[root@ixt-hq-178 rocBLAS]# /root/ROCm-4.5/rocBLAS/build/release/virtualenv/bin/python3 -m pip install --upgrade pip
Cache entry deserialization failed, entry ignored
Collecting

[2022-03-01 02:41] lingjiew93 opened #1235 "Can't get peak FP16 TFLops on MI100 with rocblas-bench gemm"
### What is the expected behavior
Get close FP16 tflops on MI100 (184.6 tflops).

### What actually happens

Only get 33 tflops, seems like no fp16 is enabled.

### How to reproduce
./build/release/clients/staging/rocblas-bench -f gemm --compute_type h -r h --a_type h --b_type h --c_type h --d_type h --transposeA N --transposeB N -m 8192 -n 8192 -k 8192 --alpha 1 --lda 8192 --ldb 8192 --beta 0 --l

[2022-03-02 20:34] mahmoodw commented on #1234
That is strange for sure. It seems like this issue could be specific to your environment. Have you been able to build successfully using your manual steps?

We will take this experience into consideration for future compatibility investigations.

[2022-03-02 22:32] mahmoodw commented on #1235
Hello, I can see how those results are alarming. To achieve peak FP16 performance there are a few parameters that you must tweak.

To trigger the appropriate kernel the compute_type must be set to f32_r/s. To set this variable along with some of the others you have you used, you must use gemm_ex function instead of the gemm specified.

Something like these should produce some better results:

./bu

[2022-03-03 01:09] lingjiew93 commented on #1235
Really appreciate it. It looks normal now.

[2022-03-03 01:09] #1235 closed

[2022-03-03 07:54] gggh000 commented on #1234
It seem hit and miss problem. in cmake/virtualenv_install add command upgrade pip just before install to make it work.

[2022-03-03 17:46] mahmoodw commented on #1234
This is useful information. Is it okay if we close this issue?

[2022-03-04 03:44] gggh000 commented on #1234
I dont think so. I put all effort in identifying the problem for you but you are not taking fix?

[2022-03-15 20:01] amd-isparry opened #1237 "Missing code to support --relocatable"
### What is the expected behavior
- ./install --relocatable
should work.

### What actually happens
    ./install.sh: unrecognized option '--relocatable'
    getopt invocation failed; could not parse the command line
and the program exits with a return code of 1.

### How to reproduce
- "./install -r"
### Environment
N/A
The 'display_help' function has

    -r, --relocatable                Add RUN

[2022-03-16 22:13] daineAMD commented on #1237
Hi @amd-isparry
Looks like that help message was added from hipBLAS mistakenly, it doesn't look like there has been any work on implementing this in rocBLAS. I'll work on adding it and let you know when it's available in develop.

[2022-03-20 11:44] peterbell10 opened #1238 "GEMM much slower than GEMV for multiplying column or row vectors"
### What is the expected behavior
GEMM where one of m or n is 1 should perform similarly to the equivalent GEMV call, because it could simply call the GEMV kernel (as cuBLAS does).

### What actually happens
GEMM performs much worse than GEMV.

### How to reproduce
For simplicity I'm using cupy's wrappers but this just calls the underlying rocBLAS functions with appropriate checks. I have a script

[2022-03-22 16:53] daineAMD commented on #1238
Hi @peterbell10,
Thanks for bringing this up. I am also seeing the slowdown in gemm compared to gemv using our rocblas-bench tool. I'll add this to my list and get back to you when I have some changes ready.

[2022-04-08 20:24] amcamd commented on #1234
@gggh000  Thank you for identifying the problem and providing the fix. The fix is implemented in the rocBLAS develop branch in commit 7f6c2bbdd (April 8). Building with the following should avoid the error "You are using pip version 21.3.1, however version 22.0.3 is available."
[code]

[2022-04-12 20:26] FreddieWitherden opened #1240 "Capturing Stream Safety"
Is the current version of rocBLAS safe to use in the context of a stream which is capturing?  For example:
[code]

The issue surrounds if any kernels in rocBLAS feel like using scratch space.  For this to be safe rocBLAS needs to detect if a stream is capturing and, if so, allocate fresh storage (which is never reused or deallocated).  This is because a graph can be launched in the context of any

[2022-04-14 17:07] #1237 closed

[2022-04-14 22:40] daineAMD commented on #1240
Hi @FreddieWitherden

Thanks for bringing up this issue, we are looking into it now and will get back to you as soon as we can with some answers.

Thanks again,
Daine

[2022-04-14 22:46] daineAMD commented on #1238
Just wanted to update this and let you know that we have changes in the works. The performance comparison for gemv over gemm with m == 1 || n == 1 isn't necessarily clear across all architectures, matrix operations, and sizes, so this might take a little while longer to ensure performance improvements all around as expected.

[2022-04-15 09:02] yukirora opened #1241 "rocblas-clients build error for ROCm 5.1.1"
### What is the expected behavior
- I want to only build rocblas clients for ROCm 5.1.1 inside docker image [rocm/pytorch:rocm5.1.1_ubuntu20.04_py3.7_pytorch_1.10.0](https://registry.hub.docker.com/layers/pytorch/rocm/pytorch/rocm5.1.1_ubuntu20.04_py3.7_pytorch_1.10.0/images/sha256-df3e74b4f80ba64ae3d040824ee49e858c5ee4810f44a3747e744b577a928b24?context=explore)

### What actually happens
- It fai

[2022-04-20 15:58] amdsc21 commented on #1234
@amcamd The errors are still there.

rocBLAS/build/release/virtualenv/bin/python3 -m pip install git+https://github.com/ROCmSoftwarePlatform/Tensile.git@f7b4fe5f53bea220f3e02edf603971f4a1aafc3c
Collecting git+https://github.com/ROCmSoftwarePlatform/Tensile.git@f7b4fe5f53bea220f3e02edf603971f4a1aafc3c
  Cloning https://github.com/ROCmSoftwarePlatform/Tensile.git (to f7b4fe5f53bea220f3e02edf603971f4

[2022-04-20 15:59] amdsc21 commented on #1234
env:

CentOS Stream release 8
NAME="CentOS Stream"
VERSION="8"

ROCM 5.1.0

[2022-04-20 16:21] cgmb commented on #1234
It's hard to tell what's going wrong from just that snippet. @amdsc21, could you please provide a full log of the build output?

You seem to still have an old version of pip. Just to confirm, you are passing  `--upgrade_tensile_venv_pip` when building rocBLAS? Is the pip upgrade failing?

[2022-04-20 17:16] amdsc21 commented on #1234
It looks --upgrade_tensile_venv_pip didn't trigger the upgrade?

[2022-04-20 17:35] cgmb commented on #1234
Thanks. It seems that this option was broken when resolving the merge conflict between 461bf379f04482533122494adc8cd009b526b6d9 and 0806ecd41a756f80b5d010cd6c754b067ee989e1.

[2022-04-20 17:35] TorreZuk commented on #1234
Sorry it looks like a bad merge took out the fix @amcamd , later commit requires cmake_common_options needs to be appended to now.

[2022-04-20 18:04] amdsc21 commented on #1234
Thanks for the confirmation @cgmb @TorreZuk

[2022-04-20 21:49] cgmb commented on #1234
@amcamd made a fix today in 9144f85e5eabf6eabbb97093cfe4103dc7d2fa9b. @amdsc21, I believe it should work for you now if you pull the latest changes on `develop` branch and retry.

[2022-04-24 12:07] DeeptimayeeSethi opened #1243 "Please enable two factor authentication in your github account"
@rdkl;@NEELMCW;@directml;@sriharikarnam;@mlseqasa

We are going to enforce two factor authentication in (https://github.com/ROCmSoftwarePlatform/) organization on 29th April, 2022 .
Since we identified you as outside collaborator for ROCmSoftwarePlatform organization, you need to enable two factor authentication in your github account else you shall be removed from the organization after the enfor

[2022-04-25 17:24] gggh000 opened #1244 "rocm5.1 build fails due to yaml missing but pyyaml is installled."
pip3 list | grep yaml -i
PyYAML                  3.12

./install.sh -icd
...
...
   Tensile_LIBRARY_FORMAT

-- Build files have been written to: /root/ROCm-5.1/rocBLAS/build/release
+ check_exit_code 0
+ ((  0 != 0  ))
+ [[ true == true ]]
+ make -j96 install
Scanning dependencies of target rocblas-common
Scanning dependencies of target rocblas_device_malloc
Scanning dependencies of target rocblas

[2022-04-25 17:30] gggh000 commented on #1234
i will take a look, thx

[2022-04-25 17:37] gggh000 commented on #1234
i checked out rocm-swplat/develop and now seeing different error:

git branch
* (HEAD detached at rocm-swplat/develop)
git log
commit 505c957c1250bb35e057bee129bdf70f70ca0eb5 (HEAD, rocm-swplat/develop)
Author: Ruban Kumar <92320771+rkamd@users.noreply.github.com>
Date:   Fri Apr 22 13:55:54 2022 -0400

    Hotfix for build error when compiled with '--clients-only' option (#1197) (#1203)

    * Up

[2022-04-25 17:42] gggh000 commented on #1234
Can you do a full installation test when fix made before updating here
./install.sh -icd
? It appears one thing is fixed and it introduces other error.

[2022-04-25 17:49] gggh000 opened #1246 "rocm5.1 installation fails due to tensile error"
Checked out whole rocm5.1 code and then checked out develop branch due to 1234 fix. Now tensile related error is occurring if built with tensile support by default:
[code]

[2022-04-25 17:53] amdsc21 commented on #1234
@gggh000 Are you using CentOS or RHEL? It looks ubuntu 20.04 is fine with me. If you are using CentOS/RHEL, what is your version please?

[2022-04-26 00:12] gggh000 commented on #1234
using centos 8 stream

[2022-04-26 02:39] gggh000 opened #1247 "rocblas installation fails with no client option"
rocm5.1, centos 8 stream. It states missing path (below):

[code]

[2022-04-26 03:30] amdsc21 commented on #1234
@gggh000 It looks Centos 8 stream isn't supported. However, you can install latest rocm5.1.1 (rocblas5.1.1 etc) on centos 8 stream, https://repo.radeon.com/rocm/yum/5.1.1/main/

Not a rocBLAS developer. But for the parts I use, rocblas5.1.1 is very fast, which has the same performance as latest build. I do try latest build on a few machines with different GPUs. :-)

[2022-04-26 06:14] gggh000 commented on #1234
please find the error and fix it and also test full installation. why you always trying to find an easy exit opportunistically? It just happened to be centos 8 and I am not going to switch to encounter another distro like ubuntu to run into another problem. clearly build instruction does not say centos 8 supported and simply it is linux.

Why you always try to find an exit instead of fix like belo

[2022-04-26 06:23] gggh000 commented on #1234
All of the following is failing spectacularly, every way possible. There is some very poor code check in happening that is breaking things apart:
I am talking about all those below builds that are documented and supported, supposedly:

**FAIL TYPE #1**
./install.sh -id --no-tensile:
Fails
...
Extra Packages for Enterprise Linux 8 - x86_64  107 kB/s |  18 kB     00:00
Extra Packages for Enterprise

[2022-04-26 19:28] NaveenElumalaiAMD commented on #1243
Closing this issue as the people tagged here are not directly associated with the rocBLAS library.

[2022-04-26 19:28] #1243 closed

[2022-04-27 13:04] amcamd commented on #1240
Hello @FreddieWitherden,

 rocBLAS functions are not safe to use with HIP Graph functions. We will work towards making them Graph safe in future releases of rocBLAS.

[2022-04-27 14:36] FreddieWitherden commented on #1240
Thank you for this.  My understanding is that the means of making them graph safe is whenever a function (such as SGEMM) is called which wants to use temporary storage the code should first call `hipStreamIsCapturing` and, if it returns true, allocate some fresh scratch space (which is only freed when the BLAS context itself is torn down).

[2022-05-03 22:42] rkamd commented on #1241
@yukirora ,
Thanks for identifying the issue, a fix has been merged to 'release/rocm-rel-5.1' branch.
Commit ID: https://github.com/ROCmSoftwarePlatform/rocBLAS/commit/06fde28a42e814f23de1eb675abf9879056e700b

[2022-05-05 08:12] yukirora commented on #1241
really thanks for your quick action

[2022-05-09 21:38] TorreZuk commented on #1234
Unfortunately Centos Stream 8 is not one of the ROCm supported OS (System Requirements) as listed at https://docs.amd.com/bundle/ROCm-Installation-Guide-v5.1.1/page/Overview_of_ROCm_Installation_Methods.html
While I have migrated Centos 8 with ROCm 5.1 installed to Centos Stream 8 and rebuilt rocBLAS 5.1.1 successfully with the --upgrade_tensile_venv_pip install.sh flag, I too have seen that packa

[2022-05-11 06:22] yukirora commented on #1241
Thanks, it works for me and close the issue.

[2022-05-11 06:22] #1241 closed

[2022-05-12 10:17] dipietrantonio opened #1250 "[Bug]: rocBLAS doesn't build for gfx908 (MI100)"
### Describe the bug
I am trying to install rocBLAS (as part of a wider rocm5.1 installation from source) to run on a supercomputer node with a Mi100 card. Here is my command line to compile it
[code]

 I get the following error, hinting that the Mi100 is not supported yet. Is there something I can do?
[code]

[2022-05-12 19:20] cgmb commented on #1250
I think you probably need `-DTensile_CODE_OBJECT_VERSION=V3`. When using CMake directly, rocBLAS defaults to V2. Most developers use the `install.sh` script, which always passes these parameters explicitly, so the CMake defaults are not often used.

If you're going through all the libraries building from source, you may be interested in [the build script I wrote for Debian](https://gist.github.com

[2022-05-12 20:37] NaveenElumalaiAMD commented on #1250
Hi @[dipietrantonio](https://github.com/dipietrantonio), thank you for reporting this bug. In response to this bug, I was able to build rocBLAS by following the steps below:
1.	It is mentioned in your ticket that you are seeing this bug in ROCm-5.1. So, I downloaded the ROCm-5.1 docker from here: https://hub.docker.com/r/rocm/rocm-terminal/tags/ using the command: `docker pull rocm/rocm-terminal:5

[2022-05-13 05:16] dipietrantonio commented on #1250
Thanks to both of you for your replies. @cgmb your suggestion got me pass that error, but after the kernel generation and compilation phase, I get this other error

[code]
@NaveenElumalaiAMD Thank you very much for your detailed instructions. The reason I cannot use the script is that it istalls many dependencies using a packet manager, and we would like to avoid that on a supercomputer, where we

[2022-05-13 07:03] cgmb commented on #1250
I'm not sure how you might encounter that error, but I'm not actually a rocBLAS developer. I'll leave you in Naveen's capable hands. Though, there is one thing I wanted to mention before I go...

I realize this doesn't solve the problem you're reporting, but it's perhaps worth mentioning that AMD contributes build recipes to [Spack](https://spack.readthedocs.io/en/latest/), which exists for the pu

[2022-05-13 07:35] dipietrantonio commented on #1250
@cgmb @NaveenElumalaiAMD In my previous edit I was wrong, I actually hadn't removed `-DTENSILE_USE_MSGPACK=OFF`. Removing that option makes the compilation problem disappear. Probably that compilation path hasn't been followed in a while, @NaveenElumalaiAMD might be worth fixing it.
I almost got to the very end, but still encountering an issue
[code]

@cgmb thanks for the suggestion, we are happy

[2022-05-13 21:48] cgmb commented on #1250
Great to see you found the problem! You can disable `header_compilation_tests.sh` by adding `-DRUN_HEADER_TESTING=OFF` or `-DBUILD_TESTING=OFF` to your cmake options.

A man after my own heart. I entirely understand. Supporting a more standard and consistent cmake build experience for power users like yourself has been a matter of discussion recently. The current process is unnecessarily difficult

[2022-05-13 23:37] NaveenElumalaiAMD commented on #1250
Thanks Cory for your prompt response! As we speak, @rkamd is working on changing the CMake defaults and would have a PR to fix this.

[2022-05-14 01:17] dipietrantonio commented on #1250
@cgmb @NaveenElumalaiAMD  Thank you very much, I was able to go through the build process successfully with your help! When building the rest of the packages I might resort to `ccmake` to see the list of CMake variables I can try to tweak, but as you said, it would be better to improve the Cmake compilation process (which in turn should make it easier for your installer script as well). Also, a li

[2022-05-18 16:26] NaveenElumalaiAMD commented on #1214
@[lucbv](https://github.com/lucbv), a fix for this issue has been merged to the rocBLAS `develop` branch.
Commit ID:  [1dc27bd](https://github.com/ROCmSoftwarePlatform/rocBLAS/commit/1dc27bd2be483e39bdf347c3b01dd7ed64ab8836)
I will go ahead and close this ticket. If you are not satisfied with the fix, you could re-open this issue. Thanks

[2022-05-18 16:26] #1214 closed

[2022-05-19 22:01] NaveenElumalaiAMD commented on #1250
@dipietrantonio , a fix for this issue is in the rocBLAS `develop` branch.
I will go ahead and close this ticket. Thanks

[2022-05-19 22:01] #1250 closed

[2022-05-20 20:15] TorreZuk commented on #1247
Merging this into issue #1234 as closely related.   As I expect it relates to OS, as stated in that issue:  "Unfortunately Centos Stream 8 is not one of the ROCm supported OS (System Requirements) as listed at https://docs.amd.com/bundle/ROCm-Installation-Guide-v5.1.1/page/Overview_of_ROCm_Installation_Methods.html  " If details on python modules installed are provided in that issue we can advise

[2022-05-20 20:15] #1247 closed

[2022-05-20 20:16] TorreZuk commented on #1246
Merging this into issue #1234 as closely related.   As I expect it relates to OS, as stated in that issue:  "Unfortunately Centos Stream 8 is not one of the ROCm supported OS (System Requirements) as listed at https://docs.amd.com/bundle/ROCm-Installation-Guide-v5.1.1/page/Overview_of_ROCm_Installation_Methods.html  " If details on python modules installed are provided in that issue we can advise

[2022-05-20 20:16] #1246 closed

[2022-05-20 20:17] TorreZuk commented on #1244
Merging this into issue #1234 as closely related.   As I expect it relates to OS, as stated in that issue:  "Unfortunately Centos Stream 8 is not one of the ROCm supported OS (System Requirements) as listed at https://docs.amd.com/bundle/ROCm-Installation-Guide-v5.1.1/page/Overview_of_ROCm_Installation_Methods.html  " If details on python modules installed are provided in that issue we can advise

[2022-05-20 20:17] #1244 closed

[2022-05-20 22:04] cgmb commented on #1234
There's a number of build problems would be easier to deal with if there was a way to build rocBLAS without using pip or virtualenv. This is one of a slew of feature requests I have for rocBLAS that I've been very slow to make tickets for, but I'll begin filing them soon.

[2022-06-02 13:32] msimberg opened #1253 "Safe to change streams on `rocblas_handle` without synchronization?"
I'm wondering if it is safe to change streams on `rocblas_handle`s without intermediate synchronization? We have a library where we use thread-local handles but more than one stream per thread for concurrency. For each successive use of a handle we go round-robin through the streams and set the stream on the handle. However, we're seeing errors in the results with this setup. Browsing through the

[2022-06-03 07:39] msimberg commented on #1253
Thanks @amcamd for the response! I wasn't aware of that documentation, and it answers my question perfectly. Do you think it'd be worth lifting some of that information into more user-facing documentation (e.g. the documentation for `rocblas_set_stream`?). If I understand correctly, that "Programmer's Guide" looks to me like a guide for someone working _on_ rocBLAS, not using rocBLAS. At least I'm

[2022-06-03 21:13] amcamd commented on #1253
Thanks @msimberg for comments on improving documentation. We will plan to move some of the content of the "Programmer's Guide" to make it more accessible by users.

[2022-06-03 21:13] #1253 closed

[2022-06-07 03:12] xuhuisheng commented on #1218
@cgmb Sorry for the delay response.
I ran rocblas-test as you say, on ROCm-4.5.2 and ROCm-5.1.3. There are FAILED with asm codes, but when I deleted r9nao yml, there is no FAILED tests. As mentioned before, my environment is RX580 8G, ubuntu-20.04.4.

So I think it may resolved rocblas gfx803 issues if I deleted r9nano related ymls. I will find time to dig asm problems.
Thank you.

[2022-06-07 06:29] cgmb commented on #1218
I'm surprised. That's different from the results I had got. I'd honestly given up after trying ROCm 5.0 and discovering my gfx803 card didn't seem to work at all anymore. It was just today that I learned you need to set `ROC_ENABLE_PRE_VEGA=true` to enable gfx803 in ROCclr now.

In any case, my conclusion from this issue is really that the complexity of Tensile very much limits the ability of the

[2022-06-11 16:05] xuhuisheng commented on #1218
@cgmb
I do a little more tests using rocBLAS gtest. Here is what I found.

My environment:

* ubuntu-20.04.4
* ROCm-5.1.3
* RX580

Although, rocblas-test said the related rocBLAS version is `2.43.0.f0273f26-dirty`, it actually used system  installed rocBLAS which is installed to the /opt/rocm. Even if I re-build rocBLAS-clients, if I didn't intall patched rocBLAS using `sudo dpkg -i rocblas*`, the

[2022-06-16 10:10] LamEnder commented on #1218
Cool! But is it possible to have a working tensorflow or pytorch installation from the current ROCm 5.1.3 toolchain?
I used to spent a whole one days just to get tensorflow complied and it failed spectacularly, that was quite sometimes ago so I cannot provide the log.

I actually have a gfx803 in my gaming laptop, which further complicates the process of getting ROCm to run. If I remember correctl

[2022-06-17 00:52] LamEnder commented on #1218
Can you provide me a guide to build tensorflow from source for gfx803?

[2022-06-17 01:35] xuhuisheng commented on #1218
@LamEnder
Build tensorflow-rocm on ROCm is out of this topic.
I create a disscusion on my repository, we can talk about tf there
<https://github.com/xuhuisheng/rocm-build/discussions/29>

[2022-06-18 01:00] xuhuisheng commented on #1218
@cgmb
Sorry to bother. But I find a intereting thing.

The way to reproduce this issue , that is

[code]
It will match 4 tests, the third test always failed.

[code]
1 * (7 * 7 + 7 * -10 + 7 * 3) + 3 *  10 = 30
[code]

[2022-06-18 03:03] cgmb commented on #1218
Thanks for the information. It will be a while before I can get to it, but I will take another look.

[2022-07-03 10:23] tpkessler opened #1254 "[Bug]: Empty variable "python""
### Describe the bug
When trying to build the new ROCm 5.2 release the variable called `python` is not initialized causing `make` to fail right at the beginning:
[code]
Observe the missing `python` (or `python3`) in front of `template-proto.py`.

I could fix it by adding `-Dpython=python` to the cmake args.

### To Reproduce
1. Call `cmake`
2. followed by `make`

### Expected behavior
`make` finis

[2022-07-03 11:46] cgmb commented on #1254
I patched around this in the Spack package, so I might as well upstream my fix.

[2022-07-04 21:16] TorreZuk commented on #1254
The variable python should always be set by -DCMAKE_TOOLCHAIN_FILE=toolchain-linux.cmake
@tpkessler can you confirm the cmake command you used as I didn't see it in the log.txt.

[2022-07-06 17:02] TorreZuk commented on #1234
--upgrade_tensile_venv_pip solves the particular pip version problem on supported OS.  In the future new OS should be supported but closing this ticket as the issue was resolved on supported OS and information is stale and no further feedback received.

[2022-07-06 17:15] dipietrantonio opened #1255 "[Bug]: wrong `#include` statement?"
I am building ROCm 5.2 from source and facing the following error:
[code]
In fact, `rocblas.h` is not found in the same folder of rocblas_device_malloc.hpp, but one level above:

[code]

Is this a bug or a misconfiguration on my side?

[2022-07-06 19:19] TorreZuk commented on #1255
Well it could be a bug but as we have built on many OS and many configurations I expect it is how you are building.  The include folders have changed for installation but -DBUILD_FILE_REORG_BACKWARD_COMPATIBILITY=ON (set inside install.sh) should keep the old style header locations. Please provide either the install.sh command line you used to configure or the entire cmake build line.   If you can

[2022-07-07 07:49] dipietrantonio commented on #1255
Thank you for your reply! Here is my cmake command line:
[code]
I have tried to come up with it by looking at the available cmake options, and got some suggestions on another issue on this repo. The OS I am running on is SLES15SP2.
And this is the (interesting part of) the build log

[code]

[2022-07-12 14:13] pxl-th opened #1256 "Segfault on dlopen"
Hi! I'm trying to build rocBLAS under [BinaryBuilder](https://binarybuilder.org/) so that it can be used in the Julia language without the user having to manually compile it (instead the installation will be handled by Julia's package manager).

For this you need to create a recipe and have recipes for all its dependencies.
Here are the [recipes](https://github.com/pxl-th/rocm-bb) in order and spe

[2022-07-12 15:08] TorreZuk commented on #1256
Thanks for raising the issue, I am not clear on BinaryBuilder so will ask around and read up.   So the linker crashes for rocblas library at line 3108, it seems like you are mixing toolchains in your environment.  rocblas should be built only with  the llvm and clang via hipcc provided with rocm which should then be compatible to link against.  Are these flags below possibly interfering with the b

[2022-07-13 06:12] littlewu2508 opened #1257 "[Feature]: rocblas-bench do not use (x,y) to express complex numbers"
### Is your feature request related to a problem? Please describe.
I use rocblas-bench combined with csvlook to get a visualized result, for example:
[code]

However when benchmarking complex floating point operations, the results use (x,y) to express complex number:
[code]

which cause csvlook think there are more columns in the second line.:
[code]

Could this be changed a bit, like replacing x+

[2022-07-13 15:30] TorreZuk commented on #1257
Thanks @littlewu2508 for your suggestion, I agree that convention makes parsers more trouble than it is worth.  The problem is we may already have this handled so need to update our scripts as well, will review and get back to you.

[2022-07-13 20:04] dipietrantonio commented on #1255
Dear @TorreZuk, that option made it work, thank you very much. Somehow I thought the option was only needed when building the library for older rocm versions.

You can close this issue now.

[2022-07-13 20:23] TorreZuk commented on #1255
Very good to hear.  So unfortunately we may change the flags so it is good to do a build with install.sh first just to what set of flags that are used for each release.   That specific one may be removed in the future and the default value will go to OFF.

[2022-07-13 20:23] #1255 closed, assigned to TorreZuk

[2022-07-14 15:02] pxl-th commented on #1256
I added those flags, because otherwise it complains that hipcc _"is not able to compile simple program"_.

But I've managed to successfully build it by specifying -DCMAKE_CXX_FLAGS="-fuse-ld=lld" flag. Turns out, it was silently defaulting to the linker provided by the building environment and not the rocm llvm's linker.

Now I can dlopen it in Julia and the `.init_array` section is zero'ed.
And i

[2022-07-14 15:02] #1256 closed

[2022-07-17 15:10] tpkessler commented on #1254
Thanks @TorreZuk, I saw that `python` is set in the toolchain file but I didn't know how to include it into the cmake call. Thank you!

[2022-07-17 15:10] #1254 closed

[2022-07-28 09:30] srilekhainkulu99 opened #1258 "Errors while installing Library Dependencies For rocBLAS"
Below file holds the errors while installing library dependencies in order to use rocblas-bench.
OS Version - Ubuntu 18.04
command used to install library dependencies - ./install.sh -c
Can you please provide a solution for this?

[errors list.txt](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/9207752/errors.list.txt)

[2022-07-28 19:37] rkamd commented on #1258
@srilekhainkulu99 ,
The error seems to indicate that google test is installed during the build process. In order to install the dependencies properly to build the client programs, I would suggest using '-d' flag.
For example
[code]
Also you can pass architecture specific flag to speed-up the build process.
[code]

[2022-08-14 18:19] CosmicFusion opened #1260 "[Bug]:"
### Describe the bug
RocBLAS doesn't build on fedora 36 (copr/local).

### To Reproduce
1. try to compile RocBLAS v5.2.1 on fedora 36 (copr/locally).
2. See error on logfile [builder-live.log.gz](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/9333877/builder-live.log.gz) .

### Expected behavior
A successful build.

### Log-files
Add **full** logfiles to help explain your problem.
[builder-

[2022-08-16 15:24] TorreZuk commented on #1257
The complex output for rocblas-bench will be "(real: maginary)" after develop branch commit 79fcb2b107ceb1e201765c873de80be274bc079b
Output elsewhere has not change to minimize any effects on other parsers.  If this causes no trouble we can consider changing to this format for all complex number output sometime in the future.

[2022-09-13 10:15] lingjiew93 opened #1263 "Two tile gemm enabling for MI250"
Hi,

Is there a way to make gemm run on two tile of MI250? Seems like only 1 tile is used when running.

[2022-09-14 17:32] mahmoodw commented on #1263
Hello,

Our MI250 board features 2 Graphics Core Dies (GCDs). If I understand your question correctly, you are interested in running gemm on both GCDs simultaneously?

Currently, rocblas does not support a single gemm call to make use of multiples GCDs. However, you may launch multiple calls on each GCDs manually using separate handles.

The procedure for this is as follows:
1. Make use of [hipSet

[2022-09-15 01:28] lingjiew commented on #1263
Yes, this is the answer I want. Thanks.

[2022-09-15 01:29] lingjiew93 commented on #1263
Yes, this is the answer I want. Thanks. Close this issue.

[2022-09-15 01:29] #1263 closed

[2022-09-19 15:41] emankov opened #1265 "[5.2.X] TRMM functions do not have correct correspondence in rocBLAS"
rocBLAS TRMM functions `rocblas_strmm`, `rocblas_dtrmm`, `rocblas_ctrmm`, `rocblas_ztrmm` do not match neither cublas TRMM functions, nor cublas TRMM _v2 functions.

For instance:

**cublasStrmm:**
[code]
**cublasStrmm_v2:**
[code]
**rocblas_strmm:**
[code]

The same goes for hipBLAS analogues `hipblasStrmm`, `hipblasDtrmm`, `hipblasCtrmm`, `hipblasZtrmm` (https://github.com/ROCmSoftwarePlatform/h

[2022-09-19 22:28] daineAMD commented on #1265
Hi @emankov,

For `trmm` functions, cuBLAS differs from the traditional BLAS API as cuBLAS includes two extra parameters, `C` and `ldc` ([cuBLAS trmm doc](https://docs.nvidia.com/cuda/cublas/index.html#cublas-lt-t-gt-trmm), [lapack doc](https://netlib.org/lapack/explore-html/db/dc9/group__single__blas__level3_ga5a8ec25aba550c224cf6941fca7a2c98.html#ga5a8ec25aba550c224cf6941fca7a2c98)). rocBLAS has

[2022-09-21 12:22] pxl-th opened #1266 "LLVM OOM when building "all" targets"
When building rocBLAS (ROCm 5.2.3) with `AMDGPU_TARGETS="all"` on `musl` it errors with the following error (see below).
Tried reducing number of threads, but that didn't help (although I haven't tried with only `1` thread).

Here's also a full build log with that error: [link](https://dev.azure.com/JuliaPackaging/Yggdrasil/_build/results?buildId=22444&view=logs&j=dde54236-b8c5-5879-af99-818e7b599

[2022-09-21 19:49] G-Ragghianti opened #1267 "[Bug]: rocblas cannot load TensileLibrary.dat"
### Describe the bug
Code using rocblas is unable to load TensileLibrary.dat with error:

[code]

### To Reproduce
This occurs when using the RPM packages for rocm 5.2 and newer.

### Expected behavior
The RPM packages should include TensilLibrary.dat or some way of automatically creating this file?

### Environment

| Hardware | description |
|-----|-----|
| CPU | AMD EPYC 7413 |
| GPU | MI-210 |

[2022-09-22 12:39] emankov commented on #1265
Thank you, @daineAMD!

I've renamed `rocblas_xtrmm functions` to `rocblas_xtrmm_outofplace`. Now they are always hipified from `cublasXtrmm_v2` and from `cublasXtrmm` if `cublas_v2.h` is included in the source CUDA being hipified.

So closing this issue as **ERRONEOUS**.

[2022-09-22 19:52] rkamd commented on #1267
@G-Ragghianti,
In ROCm 5.2, TensileLibrary.dat file was split into multiple files based on GPU architecture. So, you might find files such as `TensileLibrary_gfx906.dat , TensileLibrary_gfx90a.dat` etc. in _**/opt/rocm/rocblas/library/**_ path.

To further debug the issue, would it possible for you to run the following command and provide the output.
`ldd <user_app>`

I am curious to see which ver

[2022-09-23 21:31] TorreZuk commented on #1266
Hello, I think we need to know more of your env or configuration.  So you tried reducing the threads, was this with the install.sh argument --jobs?   You tried what number and it still failed?  It shows "launching 128 threads" but it should be a reduced number. Or are you using other env variable compiler control options for hipcc?
If you call cmake directly and not install.sh you can pass -DTensi

[2022-09-27 20:01] G-Ragghianti commented on #1267
Yes, I noticed that TensileLibrary.dat wasn't provided since version 5.2, but the code in rocblas seems to still reference it as a fallback if there is a failure to read the arch-specific dat file.  I'm prettry sure that we are building and running only on version 5.2, but I've requested my collaborator to post his ldd output.  Thanks.

[2022-09-28 12:42] KadirAkbudak commented on #1267
[code]

[2022-09-28 15:03] rkamd commented on #1267
@KadirAkbudak ,
Thanks for the output, could you please provide me the output of the following commands:
[code]

@G-Ragghianti , By default rocBLAS generates architecture specific TensileLibrary files, but users can override this by using `merge-architectures` build option to generate `TensileLibrary.dat` file.

Here, I am trying to understand why the library failed to load/find TensileLibrary_gfx

[2022-09-28 16:27] G-Ragghianti commented on #1267
Yes, thanks for the clarification.  Kadir also had produced some output from `strace` which showed the files it was attempting to open.  Maybe this would also be useful for you?

[2022-09-28 18:44] rkamd commented on #1267
@KadirAkbudak,
Thanks for the information, Can you confirm if `ROCBLAS_TENSILE_LIBPATH` environment variable is set to some path?
[code]

[2022-09-29 02:29] MOLOjl opened #1270 "rocblas_gemm runs very slow at the first time"
An annoying problem occurred to me:
when I use the rocblas_gemm API, it takes more than 20s to return. And if I serially call the same API twice at one program and test the times they cost, the first call will still take more than 20s, but the second one will take less than 0.1s. Furthermore, if I call it a third time or more, the time costs will be similar to the second API call.
I wonder if ther

[2022-09-29 14:01] KadirAkbudak commented on #1267
`ROCBLAS_TENSILE_LIBPATH` is unset in our environment.

[2022-09-29 22:41] rkamd commented on #1267
@KadirAkbudak ,
Setting the `ROCBLAS_TENSILE_LIBPATH` might fix the issue, but it should have worked even otherwise.

- Is the `LD_LIBRARY_PATH` set? Also, provide me the output of `readelf app -d | grep path`
- If possible, please attach output of strace.

[2022-09-29 22:57] daineAMD commented on #1270
Hi @MOLOjl,

Can you please provide some info on the environment where you're seeing this issue? It would be useful to know which device you're running on, along with the ROCm/rocBLAS version, OS, etc. There's some useful info gathering info in the [bug issue template](https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/develop/.github/ISSUE_TEMPLATE/bug_report.md).

That being said, there is a s

[2022-09-30 02:05] MOLOjl commented on #1270
Thanks a lot！@daineAMD
Calling `rocblas_initialize()` before calling gemm API do works, the startup cost you mentioned transfered to `rocblas_initialize()`.
By the way, the environment I'm using is
[code]
I will update my environment when the v2.45 rocblas is released.
Thanks again.

[2022-09-30 02:05] #1270 closed

[2022-09-30 13:10] KadirAkbudak commented on #1267
My initial test with `export ROCBLAS_TENSILE_LIBPATH=/opt/rocm/lib/rocblas/library/` is not giving the error. This is good news. I will repeat the test several times to make sure the error does not appear anymore.

[code]

[code]

[Strace output for a single test.](https://github.com/ROCmSoftwarePlatform/rocBLAS/files/9684438/strace.txt)

[2022-09-30 14:58] rkamd commented on #1267
Thanks for information.
Is the strace output with the `ROCBLAS_TENSILE_LIBPATH` environment variable set? If yes, could you please re-run strace without setting the variable?

I was expecting to see logs like below, but in the attached strace output, I do not see any log related to TensileLibrary_gfx90a.dat

[code]

[2022-09-30 15:13] TorreZuk commented on #1267
@KadirAkbudak yes please drop the -e trace=open or use "access" and reattach a strace log of a run which fails which @rkamd requested.  We are assuming this one was successful because you set the env variable ROCBLAS_TENSILE_LIBPATH ?
That log appears to show it finding code objects, e.g. open("/opt/rocm-5.2.0/lib/rocblas/library//TensileLibrary_gfx90a.co", O_RDONLY) = 20 but we want to see the pa

[2022-09-30 16:03] rkamd commented on #1258
@srilekhainkulu99 ,
If the suggested flag resolved the problem, Please close this issue. Thanks.

[2022-10-03 13:01] KadirAkbudak commented on #1267
The file that I sent was run withOUT setting `ROCBLAS_TENSILE_LIBPATH`.

The following output is also withOUT setting `ROCBLAS_TENSILE_LIBPATH`:

[code]

[2022-10-03 17:32] another-pjohnson opened #1272 "[Bug]: ROCBLAS_LOG_BENCH_PATH env variable broken for rocm 5.2.0"
### Describe the bug
if ROCBLAS_LOG_BENCH_PATH is set to a value, no file is created and any rocblas-bench outputs are suppressed to std/err streams.

### To Reproduce
Precise version of rocBLAS installed or rocBLAS commit hash if building from source.
Steps to reproduce the behavior:
1. Install 'rocm' 5.2.0 '...'
2. `ROCBLAS_LOG_BENCH_PATH=rocblas_log_bench.out MIOPEN_ENABLE_LOGGING_CMD=1 ROCBLAS

[2022-10-04 16:01] TorreZuk commented on #1272
Hello @another-pjohnson can you provide your OS and other information as per the recommendations shown on the new issue template for a bug report as I have to reproduce to advise you?   From MIOPEN_ENABLE_LOGGING_CMD=1 am I to assume you are running MIOpen for this test?  What happens if you just run rocblas-bench does the log file appear where you expect.

[2022-10-04 16:42] pxl-th commented on #1266
Sorry for the lack of info.

Here's full recipe: [link](https://github.com/JuliaPackaging/Yggdrasil/blob/master/R/rocBLAS/common.jl).
Which is used by BinaryBuilder.

I tried doing build on two machines.
- One has 8 cores and 64 GB of RAM.
- Another one has 64 cores and also 64 GB of RAM (not 100% sure).

When building for with `glibc` it build fine on both machines using all available threads wit

[2022-10-04 16:53] pxl-th commented on #1266
On the note of RAM consumption, when rocBLAS is built with `all` amdgpu targets and first call to `rocblas_sgemm` happens (for example), the amount of RAM that is used increases rapidly by ~9-10 GB.

I was wondering if this is an expected behaviour?
If I compile rocBLAS for a single target, like `gfx1030`, the increase in RAM consumption is much smaller (~1 GB).

Here's a concrete example from Jul

[2022-10-04 17:13] TorreZuk commented on #1266
Thanks for the feedback and recipe, can you instead build with -DTensile_LIBRARY_FORMAT=msgpack which has been the default for a while.
It could be parallel processing of yaml which is not the default format is spiking memory use during compilation.
Also can you cap the parallel build instead of ${nproc} use max 16, ${nproc}, I am not certain where the OOM happened, or build with a verbose compile

[2022-10-05 01:41] cgmb commented on #1266
Hey @TorreZuk. Just FYI, GitHub introduced LaTeX math a few months ago, so you may need to use backticks when you write `$`. Any pairs of dollar signs might otherwise be interpreted as math blocks.

[2022-10-05 03:12] another-pjohnson commented on #1272
OS: Linux, 5.6.13 kernel (with company specific modifications)

GPU ID: 0x740c
PROC: AMD EPYC 7713 64-Core Processor

AFAIK we're not using MIOpen for this test, this was a commandline that someone else from my team was using and I was trying to help them figure out why the rocblas-bench lines were not being emitted. I was able to reproduce the issue with a reduced command line that doesn't includ

[2022-10-05 14:31] #1258 closed

[2022-10-05 15:11] TorreZuk commented on #1272
Okay we don't test that OS so we need to dig into this as I just retested with ROCm 5.2 and later builds and it works on Ubuntu and other OS as we actually have a unit test that verifies this system works.
If you are on bash or other can you just export these variables first, e.g. export ROCBLAS_LOG_BENCH_PATH=/tmp/testlog.txt
export ROCBLAS_LAYER=2
Also test you can write first, via "touch /tmp/t

[2022-10-05 15:13] TorreZuk commented on #1266
Thanks for the reminder @cgmb  I'll try to remember to preview whenever pasting.

[2022-10-05 18:59] another-pjohnson commented on #1272
Running strace I see the following lines with ROCBLAS_LOG_BENCH_PATH and ROCBLAS_LAYER set via export (prior to strace call):
[code]

It seems that it is opening the file fine as FD=7, and then is duplicating it to FD=8, then closing FD=7. I do not see any further usages.

The only writes to FD=8 are before the above lines:
[code]

I see no errors written out to stderr that reference roc, amd, or

[2022-10-05 19:13] #1272 closed, assigned to TorreZuk

[2022-10-05 20:08] TorreZuk commented on #1272
Thanks for the update @another-pjohnson , good to hear that absolute path suffices for you.

[2022-10-18 20:49] tingxingdong opened #1276 "Did rocBLAS/Tensile GEMM take advantage of matrix core (like NV's tensor core) on MI200?"

[2022-10-19 16:56] NaveenElumalaiAMD commented on #1276
Hi @tingxingdong, yes, rocBLAS/Tensile GEMM uses matrix arithmetic instructions on MI200

[2022-10-28 14:07] Madouura opened #1277 "[Bug]: .co and .dat files not being generated when building with Tensile"
### Describe the bug
rocBLAS or Tensile will not correctly generate .co and .dat files when building. (TensileCreateLibraryFiles)

### To Reproduce
7294a708d91a68e6179d6d1bc74b254686ee8030 (Also latest develop and a few release versions back)
Steps to reproduce the behavior:
1. Build manually with nix shell at https://github.com/Madouura/nixpkgs/commit/9db4fb176270830680bafc21f9ae3253820a2329
2. `

[2022-10-28 19:06] TorreZuk commented on #1277
@Madouura as you are using a custom build process I am trying to diagnose potential issues.  Am I correct in understanding you use gfx803 arbitrarily just to speed up the build as you don't actually use it on a gfx803.  As gfx803 is not really supported but just a legacy arch I would suggest you use gfx1030 as the test GPU arch as from your graphics cards it appears you could build and test with t

[2022-10-28 20:38] Madouura commented on #1277
Yes, the gfx803 is just to speed up. Before that I was doing it with 1030 (my actual GPU) for speedy results, and before that I was doing the default "all". With "all", I found issues with gfx90a (xnack on and off) giving out errors with DGEMM_something_ALDEBERAN_something, but I don't use that GPU and didn't find it relevant enough to make an issue about yet. The errors specifically IIRC were abo

[2022-10-28 21:16] TorreZuk commented on #1277
Do you have -DROCM_PATH=/nix/store/h31x77g46c1sp8fzq2dm61m85h5npj3l-hip-5.3.0
Not sure if cmake is messed, but use the -DROCM_PATH and even
export ROCM_PATH=/nix/store/h31x77g46c1sp8fzq2dm61m85h5npj3l-hip-5.3.0 if that is where your full rocm is installed.  Why is it called hip-5.3.0 and not rocm?

This should not be seen "  warning: ISA: (10, 3, 0)  is not supported; overriding with  (9, 0, 0)  "

[2022-10-29 04:39] Madouura commented on #1277
Tried just with make, same result.
Tried with ``-DROCM_PATH=/nix/store/h31x77g46c1sp8fzq2dm61m85h5npj3l-hip-5.3.0`` and the export, same result.
Tried with copying every known rocBLAS dependency's package root to a folder, adding that to PATH as well as the cmake option, new result with new errors.

<details>
<summary><b>CMake error:</b></summary>

[code]
</details>

This error is due to the packa

[2022-10-29 04:49] Madouura commented on #1277
In ``nix``, individual packages are created as derivations under (usually) ``/nix/store``, the `hip`` package does not contain all the other ROCm packages but may link to them with symlinks.

[2022-10-29 05:04] Madouura commented on #1277
I forgot to switch back to the release revision.
Same thing, but here's the log
<details>
<summary><b>Configure & Build<b></summary>

[code]

</details>

[2022-10-29 08:23] Madouura commented on #1277
The issue seems to be in ``library/src/include/utility.hpp`` -> ``${hip}/include/hip/hip_runtime.h`` -> possibly ``${hip}/include/hip/amd_detail/amd_hip_runtime.h``.
Tried passing ``__HIP_PLATFORM_AMD__`` to ``CXXFLAGS``, no effect.

[2022-10-31 15:37] TorreZuk commented on #1277
Okay yes you are past all tensile issues and will look into the cause of:
In file included from /home/mado/Downloads/rocBLAS/library/src/blas_ex/rocblas_nrm2_ex.hpp:25:
/home/mado/Downloads/rocBLAS/library/src/blas_ex/../blas1/rocblas_nrm2.hpp:30:17: error: reference to __host__ function 'norm<float>' in __host__ __device__ function
    return std::norm(A);
You are using gcc11.3 for fallback inclu

[2022-11-01 01:19] Madouura commented on #1277
Here's the relevant BUILD_VERBOSE output:
[code]

I did try adding hip's include directory as the first entry to:
https://github.com/ROCmSoftwarePlatform/rocBLAS/blob/9882cea588902b75a6ce2cf2fdf58891ca6246b3/library/src/CMakeLists.txt#L416-L425
No dice, unfortunately.
There are a lot of other things concerning cmake I've tried too, but I can't seem to get rid of this toolchain mixing.
I'll see wha

[2022-11-01 01:50] Madouura commented on #1277
Also tried this and making sure the HIP path was passed to the compiler with ``-I``:
[code]

[2022-11-01 01:59] Madouura commented on #1277
Interestingly, the internal includes get replaced with the original during the build phase, but even after editing those I get the same error.

[2022-11-01 16:54] NaveenElumalaiAMD commented on #1276
Hi @tingxingdong, I will go ahead and close this issue and feel free to reopen it if you have any further questions.

[2022-11-01 16:55] #1276 closed

[2022-11-01 17:13] TorreZuk commented on #1260
Wondering if you were setting CMAKE_CXX_COMPILER, CMAKE_C_COMPILER to hipcc as well, or just oncommand line before the cmake command.   Your spec sheet link expired.
Also all hipcc and /opt/rocm/llvm/bin, and /opt/rocm/hip/bin/ in your path before other potential clang tools.
Am investigating revising the failed code to make it more robust for other toolchain variations but this would only help wi

[2022-11-01 17:21] CosmicFusion commented on #1260
Well the following was exported :

CC=hipcc
CXX=hipcc

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Torre Zuk ***@***.***>
Sent: Tuesday, November 1, 2022 7:13:55 PM
To: ROCmSoftwarePlatform/rocBLAS ***@***.***>
Cc: Ward Nakchbandi (Cosmic Fusion) ***@***.***>; Author ***@***.***>
Subject: Re: [ROCmSoftwarePlatform/rocBLAS] [Bug]: RocBLAS fails to compile

[2022-11-02 23:31] TorreZuk commented on #1277
Not clear to me why hipcc isn't behaving the same in your case yet.
export HIPCC_VERBOSE=7
and add to the make command VERBOSE=1

The include search path would be of interest to see the section after
#include "..." search starts here:
#include <...> search starts here:
to see where the path /nix/store/acbklvmaxi32lj3f7k1m1y00017f89ix-gcc-11.3.0/include/c++/11.3.0/ comes in the search ordering.
The

[2022-11-03 02:18] Madouura commented on #1277
<details>
<summary><b>With latest commit (44b99c6df26002139ca9ec68ee1fc8899c7b001f) and disabled tensile otherwise unmodified</b></summary>

[code]
</details>

<details>
<summary><b>44b99c6df26002139ca9ec68ee1fc8899c7b001f used as patch otherwise unmodified with tensile</b></summary>

[code]
</details>

<b>Unmodified with VERBOSE variables:</b> [rocblas.log](https://github.com/ROCmSoftwarePlatform

[2022-11-03 02:25] Madouura commented on #1277
Current package: https://github.com/Madouura/nixpkgs/commit/92708fe12aff4da5c28838cfa9be0904a1292d40

[2022-11-03 16:02] TorreZuk commented on #1277
Well the patch should be safe as passed all internal tests, but
 /nix/store/69g2qyb4xgmiah4n8z7sfy34vg5fza89-rocm-llvm-wrapper-5.3.1/resource-root/include/cuda_wrappers
 seems late.  Not sure why is it  llvm-wrapper vs. rocm-llvm-5.3.1 include did you had to modify the rocm llvm installation ?

 Here is a 5.3 search ubuntu20
#include "..." search starts here:
#include <...> search starts here:
 /v

[2022-11-03 16:10] Madouura commented on #1277
The latest llvm aside from my update PR is in https://github.com/NixOS/nixpkgs/blob/842a2c2399ae1557d4543a76d65b900d9ffe8d52/pkgs/development/compilers/llvm/rocm/llvm.nix and the directory it resides in.
I didn't make it so this may be a question better directed to acowley, lovesegfault, or Flakebi. I'll ping them on the tracking issue and link them here.
This may also solve some issues with ``roc

[2022-11-09 16:54] TorreZuk commented on #1266
@pxl-th thanks for the update.  I expect the memory spike will reduce further with later releases.

[2022-11-11 11:32] alexschroeter opened #1280 "[Bug]: building client fails because clang-15 cannot find ROCm device library"
### Describe the bug
I am trying to build rocBLAS client to run some benchmarks but when trying to build with `./install.sh -c` I get the following error message:

[code]

To the best of my knowledge I have working installation of ROCm and don't understand why clang (which should be the one that comes with ROCm) is unable to find the libraries.

### To Reproduce
New OS Ubuntu 22.04.1 LTS
ROCm 5.3.

[2022-11-14 17:01] NaveenElumalaiAMD commented on #1280
Hi [alexschroeter](https://github.com/alexschroeter), Thank you for reporting a bug. I was able to build rocBLAS successfully in Ubuntu 22.04.1 LTS with ROCm 5.3.2. I was using a docker container not a bare metal. Let me share the steps on how I did it: -
1.	First, downloaded the Ubuntu22.04.1 LTS docker using the command:
_docker pull ubuntu:22.04_

2.	Then, run the docker image using the command

[2022-11-14 17:31] #1280 closed

[2022-11-14 18:43] NaveenElumalaiAMD commented on #1280
Hi @alexschroeter, I am glad that you got rocBLAS working from your side, and thank you for closing this issue. It would be nice if you could share with us the original installation process that did not work, So that it would help us to see if we need a fix from our side. Thank you

[2022-11-14 20:31] alexschroeter commented on #1280
Sure. I manually added the rocm and amdgpu repositories.

[code]
Added the repo keys and installed with

[code]

After that followed the instructions on how to build the rocblas client `./install -c`. I believe the packages that fixed the issue were `apt install rocm-hip-sdk5.3.2 rocm-dev5.3.2` which I believe had rocm-device-libs as a dependency and is very much in line with the error message `cl

[2022-11-24 05:15] cgmb commented on #1218
That might help or it might not. I'm not sure.

To address this issue (and for a wide variety of other reasons), I've asked rocBLAS to provide fallback implementations that can work without Tensile. If nothing else, that would mean that rocBLAS will at least be functional on all platforms that have HIP support in the driver, compiler and runtime.

As a rocSOLVER developer, I will also appreciate t

[2022-11-24 07:01] LamEnder commented on #1218
Yes, and by having a generic, architecture-agnostic implementation, we could also eliminate the pain of dealing with large binary size of rocBLAS.

The Tensile kernels can be distributed separately and loaded dynamically at runtime when it's available, and use the fallback implementation if it's not.

I'm looking forward to it btw.

[2022-11-24 17:39] cgmb commented on #1218
That would be nice. I had been considering a similar strategy for rocSOLVER's size-specialized kernels, but it hadn't occurred to me that it would be useful for rocBLAS too.

The development backlog is not publicly accessible. Unfortunately, it contains a mix of information that could reasonably be made public and information that must remain private.